:global{
    .zj_scrm_pageone_choose_org .ant-select .ant-select-enabled{
        width:20% !important;
    }
    .zj_scrm_pageone_RadioGroup .ant-radio-button-wrapper-checked{
        color:#fff;
        border:1px solid #5d9cec !important;
        background-color: #5d9cec !important;
    }
}
.pageOne{
    overflow: hidden;
    height:450px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
}
.pageOne_left{
    width : 55%;
    height : 100%;
    padding : 20px;
    display : -webkit-flex;
    display : flex;
    flex-direction : column;
    flex-wrap : nowrap;
}
.pageOne_right{
    width : 45%;
    height : 100%;
    color : #666;
    font-size : 1.33rem;
    overflow: hidden;
    background-image : url('https://img.ishanshan.com/gimg/img/f4e93704069ea4875e1e3324563d7796');
    background-position : center;
    background-repeat : no-repeat;
    display : -webkit-flex;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}
.searchContent{
    width:100%;
    height:48px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:flex-start;
    >div{
        margin-bottom: 0;
    }
}
.AllData{
    float:left;
    height:360px;
    width:55%;
    padding:0 20px 20px 20px;
}
.charts{
    width:100%;
    height:calc(~'100% - 50px');
    background-color: #f5f5f5;
    border-radius: 10px;
}
.page_one_img{
    position:absolute;
    top:-13%;
    height: 90%;
    width: 33vw;
}
/*图表内容悬浮*/
.Popover{
    border:1px dotted #dddddd;
     -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
         -ms-border-radius: 5px;
          -o-border-radius: 5px;
             border-radius: 5px;
    background-color: white;
}
.inner{
    margin:10px;
    font-size:14px;
    font-weight:700;
}
