/*引入less定义的方法*/
@import '../../../../common/less/common.less';

.all{
    width:100%;
    height:calc(~'100vh - 120px');
    border-top: 4px solid #5d9cec;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    overflow: auto;
    .scrollbar();
}
.choose_area{
    margin: 20px;
}
.print_area{
    min-width:1350px;
    height: 900px;
    margin: 20px;
}
.real_print_area{
    height:900px;
}
