:global{
    /*表格总属性*/
    .zj_sales_commission .ant-table-bordered .ant-table-thead>tr>th{
        text-align: center;
        font-size: 14px;
        color:#ffffff;
        background-color: #5d9cec;
    }

    /*表格内容字体居中*/
    .zj_sales_commission .ant-table-tbody > tr{
        text-align: center;
    }
}

/*搜索*/
.Form{
    position:relative;
    width:100%;
    height:70px;
    padding:20px 20px 0 20px;
}
.SearchTop{
    width:100%;
    height:28px;
}
.SearchItem{
    float:left;
    font-size: 14px;
}
.SearchButton{
    float:right;
}
.SearchBottom{
    position:absolute;
    top:75px;
    font-size:20px;
    font-weight: bold;
}

/*表格*/
.allTable{
    width:100%;
    max-width: 100%;
    font-size:14px;
    cursor:default;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/*详情页*/
.allModal{
    max-width:720px;
    width:720px;
    margin:10px;
    font-size:14px;
    cursor:default;
    max-height: 609px;
    overflow-y : scroll;
    overflow-x: hidden;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.popover:hover{
    background-color: #f5f5f5;
    border-right: 1px solid #dddddd;
}
.topTitleAndContent{
    float:left;
    height:50px;
    text-align: center;
    line-height: 50px;
}
