:global {
    .marketQRModal .ant-modal-body {
        overflow: auto;
        max-height: 700px;
    }
    .marketQRModal .ant-input-group-addon {
        padding: 0px;
        border: 0px transparent solid;
    }
    .marketQRModal .ant-btn-primary {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .marketQRModal .ant-input-group {
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

.qrBase {
    text-align: center;
}

.qrCodeBox {
    max-height: 450px;
    overflow: auto;
}

.qrCodeTitle {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qrBaseDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.qrBaseDivSecond {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    float: left;
}

.qrDownloadBtn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qrLine {
    width: 100%;
    border-bottom: 1px #ddd solid;
    margin-bottom: 10px;
    clear: both;
    padding: 10px;
}

.content {
    // width: 180px;
    width: calc(100% / 3);
    float: left;
}

.orgName {
    height: 22px;
    font-size: 16px;
    color:#333;
    line-height: 22px;
    display: block;
}