.yiguanzhu {
	font-size: 22px;
	color: #5d9cec;
}

.noguanzhu {
	font-size: 22px;
}

.yiguanzhu:hover {
	font-size: 22px;
//	cursor: pointer;
}

.noguanzhu:hover {
	font-size: 22px;
//	cursor: pointer;
}
