/*引入less定义的方法*/
@import '../../../../../common/less/common.less';

.first_step{
    display:-webkit-flex;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    >div{
        width:280px;
        margin-bottom: 20px;
    }
}
