:global{
    .zj_crm_overview_table .ant-table-thead > tr > th{
        text-align: center;
    }
    .zj_crm_overview_table .ant-table-tbody > tr > td{
        text-align: center;
    }
	.overview_rechart_cont{
		font-family: 'PingFang SC';
	}
}
/*图表内容悬浮*/
.Popover{
    border:1px dotted #dddddd;
     -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
         -ms-border-radius: 5px;
          -o-border-radius: 5px;
             border-radius: 5px;
    background-color: white;
}
.inner{
    margin:10px;
    font-size:14px;
    font-weight:700;
}
