.tenant_org_select_content {
    width: 100%;
    height: 410px;
}

.org_to_select_tree {
    height: 400px;
    float: left;
    width: 47%;
    margin: 5px;
    border: 1px solid #eee;
    padding-left: 10px;
}

.org_selected_tree {
    height: 400px;
    float: right;
    width: 47%;
    margin: 5px;
    border: 1px solid #eee;
    padding-left: 10px;
}

.tree_content {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

/*校区过滤*/
.org_select_cont {
    width: 342px;
    padding-left: 5px;
}


.block_tree_node {
    display: block;
}

.hidden_tree_node {
    display: none;
}
