:global{
	.batch_order_tip_modal .ant-modal-body{
		padding : 20px;
	}
	.batch_order_tip_modal .ant-modal-footer{
		padding : 0 20px 20px 0;
		margin : 0;
	}
}
.batch_order_class_tip_text{
	font-size : 14px;
}
.batch_order_class_tip_list{
	height : 300px;
}
