:global{
	.batch_order_modal .ant-modal-body{
		padding : 20px;
	}
	.batch_order_modal .ant-modal-footer{
		padding : 20px;
	}
	.batch_order_tips{
		display : inline-block;
		width : 240px;
		vertical-align : top;
		p{
			height : 12px;
			margin-bottom : 10px;
		}
	}
	.batch_course_info{
		display : inline-block;
		width : 400px;
		height : 180px;
		vertical-align : top;
		border : 1px solid #ddd;
		border-radius : 5px;
		box-sizing : border-box;
		margin-left : 18px;
		p{
			height : 12px;
			line-height : 12px;
			margin-top : 10px;
			margin-left : 10px;
		}
	}
	.batch_course_info_head{
		height : 32px;
		line-height : 32px;
		background : #DFEBFA;
		text-align : center;
	}
	.batch_course_time{
		margin: 10px;
		.batch_course_time_item{
			display : inline-block;
			width : 50%;
		}

		/*覆盖样式*/
		.batch_course_time_item .ant-form-item{
			margin-bottom : 0;
		}
	}
	.batch_order_vip_info{
		display : inline-block;
		vertical-align : top;
		width : 280px;
		height : 210px;
		margin-left : 20px;
		margin-bottom : 20px;
		border : 1px solid #ddd;
		border-radius : 5px;
		box-sizing : border-box;
		p{
			height : 12px;
			line-height : 12px;
			margin-top : 10px;
			margin-left : 10px;
		}
		.ant-form-item{
			height : 28px;
		}
	}
	.batch_order_course_table{
		max-height : 342px;
	}

	.batch_order_fix{
		position : absolute;
		right : 0;
		bottom : 20px;
		width : 45%;
		height : 28px;
		line-height : 28px;
	}
	.batch_order_fix .ant-form-item{
		margin-bottom : 0;
	}
}
.class_order_stu_list{
	margin-top : 7px;
	height : 70px;
	max-height : 70px;
	overflow-y : auto;
	overflow-x : hidden;
}
.class_order_stu_list_item{
	display : inline-block;
	width : 190px;
	vertical-align : middle;
	color : #999;
	overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}
