:global{
	.batch_order_error_modal .ant-modal-body{
		padding : 20px;
	}
	.batch_order_error_modal .ant-modal-footer{
		margin : 0;
		padding : 0 20px 20px 0;
	}
}
.batch_order_error_label{
	font-size : 14px;
}
.batch_order_error_value{
	font-size : 14px;
	color : #999;
}
