:global{
	.subscribe_order_modal .ant-modal-body{
		padding : 20px;
	}
	.subscribe_order_modal .ant-modal-footer{
		padding : 0 20px 20px 20px;
        margin: 0;
	}
	.subscribe_order_modal .ant-form-item{
		margin-bottom : 10px;
        &:last-child{
            margin-bottom: 0;
        }
	}
}
