
/*引入less定义的方法*/
@import '../../common/less/common.less';

.Production_plan_inner_list{
  padding:20px 30px;
  overflow:hidden;
}

.yiguanzhu {
  font-size: 22px;
  color: #108ee9;
}

.noguanzhu {
  font-size: 22px;
}

.yiguanzhu:hover {
  font-size: 22px;
  //	cursor: pointer;
}

.noguanzhu:hover {
  font-size: 22px;
  //	cursor: pointer;
}
