:global{
    .add_use_class_modal .ant-modal-body{
        padding:20px;
    }
	.add_use_class_modal .ant-modal-footer{
		padding : 0 20px 20px 20px;
		margin : 0;
	}
	.add_use_class_modal .ant-form-item{
        margin-left: -10px;
		margin-bottom : 10px;
        &:last-child{
            margin-bottom: 0;
        }
	}
}
