:global{
	.operation_modal .ant-modal-footer{
		text-align : center;
		padding : 20px 0;
    	margin : 0;
	}
	.operation_modal .ant-modal-body{
		padding : 20px;
		font-size : 14px;
		color : #666;
		text-align : center;
	}
}
