:global {
	.tabs {

	}

	.tabs .ant-tabs-bar {
		border-bottom : 0px;
	}

	.tabs .ant-tabs-nav-container {
		overflow : 0;
	}

	.tabs .ant-tabs-nav {
		border-right: 1px #ddd solid;
    	border-top: 1px #ddd solid;
    	border-bottom: 1px #ddd solid;
		border-radius: 5px;
    	overflow: hidden;
	}

    .tabs .common_class_schedule_content .ant-tabs-nav {
		border-right: 0;
    	border-top: 0;
    	border-bottom: 0;
		border-radius: 5px;
	}

	.tabs .ant-tabs-nav-container {
		overflow: inherit;
	}

	.tabs .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active {
		color : white;
		background: #5d9cec;
		padding-bottom: 4px;
	}

	.tabs .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
		border-radius : 0px;
		border : 0px;
		border-left: 1px solid #ddd;
		margin-right : 0px;
        padding : 4px 24px;
	}

	.tabs .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:nth-child(2) {
		border-top-left-radius: 5px;
    	border-bottom-left-radius: 5px;
		border : 0px;
		border-left: 1px solid #ddd;
		margin-right : 0px;
	}

	.tabs .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:last-child {
		border-top-right-radius: 4px;
    	border-bottom-right-radius: 4px;
		border : 0px;
		border-left: 1px solid #ddd;
		margin-right : 0px;
	}
}
