/*引入less定义的方法*/
@import '../../../../../common/less/common.less';

.add_new_follow_record{
    overflow:hidden;
    margin-bottom: 20px;
    >div{
        &:nth-child(1){
            margin-bottom: 10px;
        }
//        &:nth-child(n+2):nth-child(-n+4){
//            display: inline-block;
//            margin-right: 10px;
//            margin-bottom: 10px;
//        }
//        &:nth-last-child(3){
//            display: inline-block;
//            margin-bottom: 10px;
//        }
//        &:nth-last-child(2){
//            float:right;
//            margin-bottom: 20px;
//        }
//        &:nth-last-child(1){
//            float:right;
//            width:100%;
//            height:1px;
//            background-color: #ddd;
//        }
    }
}
.add_new_follow_record_detail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    >div{
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
}
