:global{
    .ant-modal-close{
         color:#999999 !important;
    }
    .putForward{
        background:rgba(255,255,255,1);
        border-radius: 10px ;
        text-align: center;
        padding: 0 0 !important;
        border-radius: 10px !important;
    }
    .putForward .ant-modal-content{
        border-radius: 10px;
    }
}


.lookBtn,.lookBtn:hover, .lookBtn:focus{
    border: none;

}
.lookBtn{
    width:130px;
    height:32px;
    background:linear-gradient(180deg,rgba(255,18,0,1),rgba(254,100,86,1));
    border-radius: 16px ;
    font-size:16px;
    margin-bottom: 27px;
}
.lookBtn,.lookBtn:hover, .lookBtn:focus{
    background:linear-gradient(180deg,rgba(255,18,0,1),rgba(254,100,86,1));
    border-radius: 16px ;
    border: none;
    font-size:16px;
}
.title{
    height:33px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    color:rgba(97,108,123,1);
    line-height:33px;

    margin-top: 33px;
    margin-bottom: 27px;
}
.title span{
    color: #FD9E24;
}
.con{
    width:374px;
    height:95px;
    margin: 0 auto;
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:#616C7B;
    line-height:22px;
    margin-bottom: 23px;
}
.cpn p{
    line-height: 22px;
    text-align: center;
}
.con p span{
    color: #FD9E24;
    font-size:24px;
}
.info{
    font-size:14px;
    color:rgba(97,108,123,1);
    line-height:20px;
    margin-bottom: 40px;
}
