.mobile_content {
    position: absolute;
    top: 56px;
    left: 28px;
    width: 750px;
    height: 1206px;
    text-align: left;
    background-color: #FFF;
    transform-origin: left top;
    transform: scale(0.47, 0.47);
    border: 1px solid #FFF;
    border-radius: 8px;
}

.show_cont_bar {
    position: absolute;
    width: 0;
    height: 0;
    top: 43%;
}

.prev_page_bar {
    position: absolute;
    left: -42px;
    width: 26px;
    border-radius: 50%;
    height: 26px;
    background-color: #DDD;
    text-align: center;
    cursor: pointer;
}

.prev_page_bar:hover {
    background-color: #5D9CEC;
}

.next_page_bar {
    position: absolute;
    right: -450px;
    width: 26px;
    border-radius: 50%;
    height: 26px;
    background-color: #DDD;
    text-align: center;
    cursor: pointer;
}

.next_page_bar:hover {
    background-color: #5D9CEC;
}

.show_cont_bar_icon {
    font-size: 14px;
    color: #FFF;
    line-height: 26px;
}

.page_state {
    position: absolute;
    top: -35px;
    left: -70px;
    color: #666;
    font-size: 16px;
}
