.module_building_cont {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.item_cont {
    display: inline-block;
}
.item_cont:hover {
    border: 1px solid #999;
}

.module_share_cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.current_time {
    position: absolute;
    top: 30px;
    left: 45%;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    padding: 3px 10px;
    background-color: #DDD;
    border-radius: 10px;
}

.share_render_content {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-right: 50px;
    text-align: right;
    display: inline-block;
    background-color: #F1F1F1;
}

.user_img {
    width: 100px;
    height: 100px;
    display: inline-block;
    float: right;
    margin-left: 35px;
}

.user_img img {
    width: 100%;
    height: 100%;
}

.share_intro_cont {
    display: inline-block;
    width: 450px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
}

.share_config_img {
    width: 100px;
    height: 100px;
    display: inline-block;
    float: right;
    border-radius: 5px;
}

.share_config_img img {
    width: 100%;
    height: 100%;
}

.share_intro_text_cont {
    width: 300px;
    float: left;
    text-align: left;
    display: inline-block;
}

.share_title_text {
    font-size: 30px;
    color: #666;
}

.share_intro_text {
    font-size: 26px;
    color: #999;
}

