.p{
	font-size : 14px;
	height : 30px;
	line-height : 30px;
}
.item_label{
	display : inline-block;
	width : 75px;
	height : 20px;
	line-height : 20px;
}
.item_text{
	display : inline-block;
	height : 20px;
	line-height : 20px;
	font-size : 12px;
	color : #999;
}

:global{
	.check_form{
		margin-top : 10px;
	}
	.check_form .ant-form-item{
		margin : 0;
	}
	.check_contract_order_modal .ant-modal-footer{
		margin-top : 0px;
		padding : 0 20px 20px 10px;
	}
	.check_contract_order_modal .ant-modal-body{
		padding : 20px;
	}
	.check_contract_order_failed_btn{
		background-color: #cc4342 !important;
        border:1px solid #cc4342 !important;
	}
	.check_contract_order_failed_btn:hover{
		background : red;
		color : #fff;
		border-color : red;
	}
	.check_contract_order_failed_btn:active{
		background : red;
		color : #fff;
		border-color : red;
	}
	.check_contract_order_failed_btn:visited{
		background : red;
		color : #fff;
		border-color : red;
	}
}
