.contract_order_wrap{
	padding : 0 30px;
}
.p{
	font-size : 14px;
    line-height : 30px;
}
.item_label{
	display : inline-block;
	text-align : right;
	width : 90px;
	line-height : 30px;
	font-size : 14px;
	margin-right : 10px;
	color : #999;
}
.item_text{
	font-size : 12px;
	color : #666;
	line-height : 30px;
}
.item_img{
	display : inline-block;
	vertical-align : top;
	margin-right : 10px;
	width : 90px;
	height : 90px;
	background-size : cover;
	background-position : center center;
	border-radius : 12px;
	cursor : pointer;
}
.class_package{
	margin-bottom : 10px;
}
.class_package_item{
	display : inline-block;
	width   : 700px;
	li{
		display : inline-block;
		height : 40px;
		line-height : 40px;
		border : 1px solid #ddd;
		border-top-width : 0;
		p{
			display : inline-block;
			text-align : center;
			vertical-align : top;
			height : 40px;
			overflow : hidden;
			text-overflow : ellipsis;
			white-space : nowrap;
		}
	}
	li:first-child{
		background : #f1f1f1;
		border : 1px solid #ddd;
	}
}
