.expense_modal {
  :global {
    .ant-calendar-picker {
      width: 100%;
    }
    .ant-input-number {
      margin: 0;
      width: 100%;
    }
  }
}

.project_box {
  position: relative;

  .project_icon {
    cursor: pointer;
    font-size: 18px;
    line-height: 32px;
    color: #666;
    position: absolute;
    top: 0;
    right: 10px;

    &:hover {
      color: #5d9cec;
    }
  }
}

.expense_section {
  line-height: 32px;
}
