:global{
    .zj_scrm_pagefour_arrow_up .anticon{
        color:red !important;
    }
}
.pageFour{
    margin-top: 60px;
    background-color: #e9e9ed;
    border-radius: 10px;
    -webkit-animation:All 1 1s ease-out ;
       -moz-animation:All 1 1s ease-out ;
        -ms-animation:All 1 1s ease-out ;
         -o-animation:All 1 1s ease-out ;
            animation:All 1 1s ease-out ;
    @keyframes All{
        from {opacity:0}
        to {opacity:1}
    }
    @-o-keyframes All{
        from {opacity:0}
        to {opacity:1}
    }
    @-ms-keyframes All{
        from {opacity:0}
        to {opacity:1}
    }
    @-moz-keyframes All{
        from {opacity:0}
        to {opacity:1}
    }
    @-webkit-keyframes All{
        from {opacity:0}
        to {opacity:1}
    }
}
.title{
    background-color: #e9e9ed;
    height:37px;
    line-height: 37px;
    font-size: 24px;
    color:#666666;
    text-align: center;
    cursor:default;
    font-weight: 700;
    /*不可选中不可复制*/
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.modalContent{
    background-color: #ffffff;
    width:100%;
    padding:10px 20px;
    border-radius: 10px;
    overflow: auto;
}
.scrmMessage{
    position:relative;
    overflow: hidden;
    width:100%;
    height:50px;
    border-bottom: 1px solid #eeeeee;
}
.scrmMessagePoint{
    position:absolute;
    top:20px;
    float:left;
    width:10px;
    height:10px;
    border-radius: 50%;
}
.scrmMessageContent{
    float:left;
    line-height: 50px;
    font-size: 14px;
    margin-left: 15px;
}
.scrmMessageLink{
    color:#666666;
}
.scrmMessageLink:hover{
    color:#5d9cec;
}
.scrmMessageHot{
    float:left;
    text-align: center;
    border-radius: 5px;
    margin:16px 0 0 5px;
    background-color: #fdcf00;
    height:18px;
    line-height: 18px;
    width:36px;
    color:#ffffff;
    cursor:default;
    /*不可选中不可复制*/
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.scrmMessageUpArrow{
    float:left;
    margin-left: 5px;
    text-align: center;
    -webkit-animation:UpArrow infinite 0.5s ease-out alternate;
       -moz-animation:UpArrow infinite 0.5s ease-out alternate;
        -ms-animation:UpArrow infinite 0.5s ease-out alternate;
         -o-animation:UpArrow infinite 0.5s ease-out alternate;
            animation:UpArrow infinite 0.5s ease-out alternate;
    @keyframes UpArrow{
        from {line-height:40px}
        to {line-height:60px}
    }
    @-o-keyframes UpArrow{
        from {line-height:40px}
        to {line-height:60px}
    }
    @-ms-keyframes UpArrow{
        from {line-height:40px}
        to {line-height:60px}
    }
    @-moz-keyframes UpArrow{
        from {line-height:40px}
        to {line-height:60px}
    }
    @-webkit-keyframes UpArrow{
        from {line-height:40px}
        to {line-height:60px}
    }
}
.scrmMessageDate{
    line-height: 50px;
    font-size: 14px;
    color:#999999;
    float:right;
}
.checkMoreScrmMessage{
    position:relative;
    height:40px;
    line-height: 50px;
    color:#5d9cec;
    font-size: 14px;
    text-align: center;
    cursor:pointer;
}
.checkMoreScrmMessage:hover{
    color:rgba(93,156,236,0.8);
}
.doubleDown{
    position:absolute;
    font-size: 14px;
    -webkit-transform:rotate(90deg);
       -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
         -o-transform:rotate(90deg);
            transform:rotate(90deg);
    -webkit-animation:DoubleDown infinite 0.6s ease-out alternate;
       -moz-animation:DoubleDown infinite 0.6s ease-out alternate;
        -ms-animation:DoubleDown infinite 0.6s ease-out alternate;
         -o-animation:DoubleDown infinite 0.6s ease-out alternate;
            animation:DoubleDown infinite 0.6s ease-out alternate;
    @keyframes DoubleDown{
        from {top:13px}
        to {top:21px}
    }
    @-o-keyframes DoubleDown{
        from {top:13px}
        to {top:21px}
    }
    @-ms-keyframes DoubleDown{
        from {top:13px}
        to {top:21px}
    }
    @-moz-keyframes DoubleDown{
        from {top:13px}
        to {top:21px}
    }
    @-webkit-keyframes DoubleDown{
        from {top:13px}
        to {top:21px}
    }
}
.circleO{
    margin-left: 5px;
    font-size: 14px;
}
