:global{
    .yhwu_wait_for_class{
        height : 310px;
    }
    .yhwu_wait_for_class .ant-modal-content{
        height : 310px;
    }
    .yhwu_wait_for_class .ant-form{
        position : relative;
        height : 220px;
    }
    .yhwu_wait_for_class .ant-modal-body{
        margin  : 20px 20px 10px 20px;
        padding : 0;
        overflow: auto;
        height  : 180px;
    }
    .yhwu_wait_for_class .ant-modal-footer{
        border : none;
        height : 50px;
        padding : 2px 20px 20px 20px;
    }

}
