.yhwu_classInfo_text{
    text-align : left;
    margin-bottom : 10px;
    display : inline-block;
    width : 50%;
}
.yhwu_classInfo_btn{
    text-align: right;
    margin-bottom: 10px;
    display : inline-block;
    width : 50%;
}
.yhwu_classInfo_text .courseCount{
    display : inline-block;
    width : 120px;
    height : 28px;
    line-height : 28px;
    text-align : center;
    border : 1px solid #ddd;
    border-radius : 4px;
    color : #666;
}
.yhwu_classInfo_btn .createClass{
    display : inline-block;
    width : 80px;
    height : 28px;
    line-height : 28px;
    text-align : center;
    border : 1px solid #5D9CEC;
    border-radius : 4px;
    color : #fff;
    background : #5D9CEC;
    cursor : pointer;
}

.studying,.classSuspend,.classEnd,.waitingForClass{
    position : relative;
    width : 46px;
    height : 24px;
    line-height : 24px;
    text-align : center;
    color : #fff;
    background : #5D9CEC;
    border-radius : 4px;
}
.classSuspend,.classEnd,.waitingForClass{
    background : #DDDDDD;
}
.classSuspendTip{
    position : absolute;
    top : -6px;
    right : -6px;
    width : 14px;
    height : 14px;
    line-height : 14px;
    border-radius : 50%;
    color : #fff;
    text-align : center;
    background : #C20D0D;

}
