
.query{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.table{
    margin-bottom: 10px;
}
.pagination{
    overflow: hidden;
}
.nullSource{
    height:500px;
    display:-webkit-flex;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    img{
        margin-bottom: 20px;
    }
    span{
        color:#999;
        font-size: 1rem;
    }
}
