:global{
    .zj_Table .ant-table-thead > tr > th{
        background-color: #f5f5f5;
    }
    .zj_Table .ant-table-thead > tr > th,.zj_Table .ant-table-tbody > tr > td{
        padding:16px 10px;
    }
    .zj_Form .ant-form-item-required{
        font-size:14px;
    }
    .zj_Form .ant-input-group-addon{
        background-color:#f5f5f5;
    }
}
.check{
    color:#5d9cec;
}
.check:hover{
    color:red;
}
.check:active{
    color:#5d9cec;
}
.Table{

}
.IntroContent{
    font-size:14px;
    height:102px;
    background-color: #f5f5f5;
    border:1px solid #dddddd;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
    margin: 20px 20px 30px 20px;
    overflow: hidden;

}
.introItemTop{
    display: inline-block;
    width:210px;
    margin:20px 0 20px 20px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
}
.introEdit{
    color:#5d9cec;
    float:right;
    margin: 20px;
}
.introEdit:hover{
    color:red;
}
.introEdit:active{
    color:#5d9cec;
}
.introItemBottom{
    display: inline-block;
    width:210px;
    margin:0 0 20px 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.yiguanzhu {
	font-size: 25px;
	color: #108ee9;
}

.noguanzhu {
	font-size: 25px;
}

.yiguanzhu:hover {
	font-size: 25px;
//	cursor: pointer;
}

.noguanzhu:hover {
	font-size: 25px;
//	cursor: pointer;
}

.table_cell_href_item {
    color: #5d9bec;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}

a[disabled].table_cell_href_item {
    color: #999;
}
