
:global{
    .home_and_school_teacher_comment_edit_modal .ant-modal-body{
        padding : 20px;
        margin : 0;
    }
    .home_and_school_teacher_comment_edit_modal .ant-modal-footer{
        padding : 0 20px 20px 20px;
        margin : 0
    }
    .home_and_school_teacher_comment_edit_modal .ant-form-item{
        margin-bottom : 10px;
        margin-left : 5px;
        &:last-child{
            margin-bottom : 0;
        }
    }
    .home_and_school_teacher_comment_edit_modal_upload_pic{
        margin-bottom : 35px !important;
    }
    .home_and_school_teacher_comment_edit_modal_upload_pic .ant-upload.ant-upload-select-picture-card{
        width : 80px;
        height : 80px;
    }
    .home_and_school_teacher_comment_edit_modal_upload_pic .ant-upload-list-picture-card .ant-upload-list-item{
        width : 80px;
        height : 80px;
    }
    .home_and_school_teacher_comment_edit_modal_upload_pic .ant-form-explain{
        position : absolute;
        top : 85px;
    }
}
