/*引入less定义的方法*/

@import '../../common/less/common.less';

:global {
	.zj_offline_booking_modal .ant-modal-body {
		max-height: 500px;
		padding: 20px;
		overflow-y: auto;
		overflow-x: hidden;
		.scrollbar();
	}
	.zj_offline_booking_modal .ant-modal-footer {
		margin: 0;
		padding: 0 20px 20px 20px;
	}
	.zj_offline_booking_modal .ant-form-item {
		margin-bottom: 10px;
		margin-left: -10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.zj_offline_booking_modal .ant-form-item-label {
		height: 28px;
	}
}

.OfflineBook_lesson {
	margin-bottom: 20px;
}
