.yiguanzhu {
	font-size: 25px;
	color: #108ee9;
}

.noguanzhu {
	font-size: 25px;
}

.yiguanzhu:hover {
	font-size: 25px;
//	cursor: pointer;
}

.noguanzhu:hover {
	font-size: 25px;
//	cursor: pointer;
}
