:global {
    .common_header_menu_content {
        display: inline-block;
        height: 100%;
    }

    .common_header_menu_content .ant-tabs {
        height: 100%;
    }
    .common_header_menu_content .ant-tabs-bar {
        border-bottom: 0;
        margin-bottom: 0;
        padding-top: 8px;
        height: 100%;
    }

    .common_header_menu_content .ant-tabs-nav-container {
        height: 100%;
    }

    .common_header_menu_content .ant-tabs-nav-wrap {
        height: 100%;
    }

    .common_header_menu_content .ant-tabs-nav-wrap {
        height: 100%;
    }

    .common_header_menu_content .ant-tabs-nav-scroll {
        height: 100%;
    }

    .common_header_menu_content .ant-tabs-nav {
        height: 100%;
    }

    .common_header_menu_content .ant-tabs-ink-bar {
        height: 6px!important;
        bottom: 0;
        background-color: #5D9BEC;
        border-radius: 5px;
    }

    .common_header_menu_content .ant-tabs-tab-next,.ant-tabs-tab-prev{
        margin : 0;
        display : -webkit-flex;
        display : flex;
        justify-content : center;
        align-items : center
    }

    .common_header_menu_content .ant-tabs-nav .ant-tabs-tab {
        font-size: 18px;
        color: #666;
        margin-right: 40px;
        position: relative;
        top: 8px;
        height: initial;
        padding-bottom: 0;
        transition: top 0.4s;
    }

    .common_header_menu_content .ant-tabs-nav .ant-tabs-tab-active {
        color: #5D9BEC!important;
        top: 4px;
    }

    .common_header_menu_content .ant-tabs-nav .ant-tabs-tab:hover {
        color: #5D9BEC!important;
        top: 4px;
    }

    /*宽度不够时 箭头*/
//    .common_header_menu_content .ant-tabs-nav-container-scrolling .ant-tabs-tab-prev, .common_header_menu_content .ant-tabs-nav-container-scrolling .ant-tabs-tab-next {
//        margin-top: 10px;
//    }
}

.header_menu_active_item {
    color: #5D9BEC;
    font-size: 20px;
    line-height: 65px;
    margin-right: 50px;
    cursor: pointer;
    border-bottom: 5px solid #FFF;
}

.header_menu_item {
    color: #666;
    font-size: 20px;
    line-height: 65px;
    margin-right: 50px;
    cursor: pointer;
}
.header_menu_item:hover {
    border-bottom: 5px solid #FFF;
}
