:global {
	.js_upload_student_modal .ant-modal-body{
		padding : 40px 20px 20px 20px;
	}
	.js_upload_student_modal .ant-modal-footer{
		padding : 0 20px 20px 0;
	}
	.js_upload_student_modal .ant-tabs-bar {
		border-bottom : 0px;
		margin-bottom : 20px;
	}

	.js_upload_student_modal .ant-tabs-ink-bar {
		background-color : white;
	}

	.js_upload_student_modal .ant-tabs {
		padding : 0px 20px 0px 20px;
	}
	
	.js_upload_student_modal .ant-radio-group {
		width  :100%;
	}
}

.js_upload_div {
	width : 100%;
	text-align: center;
}

.js_upload_input {
	float: left;
    width: 200px;
}

.js_upload_student_steps {
	width : 80%;
	margin: auto;
}

.js_upload_two_p {
	color : red;
	margin-top: 5px;
}

.js_upload_success_p {
	width : 100%;
	padding : 10px;
	text-align : center;
}

.js_upload_fail_p {
	width : 100%;
	text-align : center;
}

.check_import_parent {
    position: absolute;
    top: 50px;
    right: 20px;
}
