:global{
    /*表单上传图片设置宽高*/
    .zj_org_logo .ant-upload.ant-upload-select-picture-card{
        width:190px !important;
        height: 57px !important;
    }

    .zj_org_logo .ant-upload-list-picture-card .ant-upload-list-item{
        width:190px !important;
        height: 57px !important;
    }

    .zj_org_logo .ant-upload.ant-upload-select-picture-card > .ant-upload{
        padding: 0 !important;
    }

    .zj_org_logo .ant-form-item{
        margin-bottom: 0 !important;
    }
    .zj_org_logo.ant-form-item{
        margin-bottom: 0 !important;
    }
}
