
:global{
    .release_courseware_modal .ant-modal-body{
        padding : 20px;
    }
    .release_courseware_modal .ant-modal-footer{
        margin : 0;
        padding : 0 20px 20px 20px;
    }
    .release_courseware_modal .ant-form-item{
        margin-left : -10px;
        margin-bottom : 10px;
        &:last-child{
            margin-bottom : 0;
        }
    }
}
.upload{
    display : -webkit-flex;
    display : flex;
    flex-wrap : nowrap;
}
