//下侧
.bottom_base {
	height : 100%;
}

.bottom_b_title {
    position: absolute;
    height: 120px;
//    left: 30%;
	left: 25%;
    top: 0;
    text-align: center;
    bottom: 0;
    margin: auto;
}

.bottom_b_title_p1 {
    font-size: 48px;
    font-weight: 600;
    color: #666666;
    text-align: center;
    float: left;
	height : 70px;
}

.bottom_b_title_p2 {
    font-size: 16px;
    color: #666666;
    text-align: center;
    clear: left;
    margin-left: -10px;
}

.bottom_b_img_bg {
	height: 72px;
    width: 59px;
    position: relative;
    top:calc((150px - 72px) / 2);
	left: 18%;
    overflow: hidden;
    display: inline-block;
    font-size: 59px;
}

.bottom_num {
    float: left;
    margin-top: 35px;
    font-size: 16px;
    margin-left: 10px;
    color: #999999;
}

.bottom_base_btn {
	position: absolute;
	right: 60px;
	height: 60px;
	width: 150px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	background-color: #629ef1;
	border-color: white;
	border-radius: 10px;
	font-size: 16px;
}

.bottom_base_btn:hover {
	background-color:#72b2fa;
	border-color:white;
}

.bottom_base_left {
	width: 50%;
	height: 100%;
}

.bottom_base_left:hover {
	width: 50%;
	height: 100%;
	background: #f6f6f6;
	cursor:pointer;
	border-radius: 10px 0px 0px 10px;
}

