/*引入less定义的方法*/
@import '../../../common/less/common.less';

:global{
    .course_table .manager_list_pagination{
        right: 260px !important;
    }
    .course_table .ant-modal-close-x{
        color: #999;
    }
}

.right_all{
    height : 100%;
    width : 100%;
}
.right_explain{
    height : 30px;
    width : 100%;
}
.right_explain_span{
    margin-right : 30px;
}
.right_table{
    height : calc(~'100% - 30px');
    width : 100%;
}

