/*引入less定义的方法*/
@import '../../../common/less/common.less';
:global{
    .btn_group_mention{
        display: inline-block;
        float: right;
        font-size:14px;
        line-height: 30px;
    }
    .btn_group_public{
        width: 100%;
        margin: 15px 0;
        font-size: 14px;
        height: auto;
        overflow: hidden;
    }
    .btn_group_public p{
        float: left;
        width: auto;
    }
    .btn_group_courseware{

        float: right;
    }
}
