.all{
    position : relative;
    height : 100%;
    width : 100%;
}
.pagination{
    position : absolute;
    bottom : -29px;
    height : 50px;
    width : 100%;
    padding : 0 10px;
    background : #f7f7f7;
    border : 1px solid #ddd;
    display : -webkit-flex;
    display : flex;
    justify-content : flex-end;
    align-items : center;
} //

.height{
    height: 80px;
    // widows: 1px;
    margin-top: -100px;
    border: 0.5px solid #ccc ;
    display: inline-block;
    float: left;
}
.heights{
    height: 80px;
    // widows: 1px;
    margin-top: -100px;
    border: 0.5px solid #ccc;
    display: inline-block;
    float: right; 
}
