:global{
    .leads_call_event_modal .ant-modal-body{
        padding : 20px;
        margin : 0;
    }
    .leads_call_event_modal .ant-modal-footer{
        padding : 0 20px 20px 20px;
        margin : 0;
    }
    .leads_call_event_modal .ant-form-item{
        margin-bottom : 10px;
        &:last-child{
            margin-bottom : 0;
        }
    }
}
