:global {
    .schedule_class_detail_cont {
        border-bottom: 1px solid #EEE;
        margin-bottom: 20px;
    }

    .schedule_class_detail_cont .ant-form-item-label label {
        font-size: 14px;
        color: #666;
    }

    .schedule_class_teacher_cont .ant-form-item {
        margin-bottom: 0;
    }

    .schedule_class_teacher_cont {
        width: 100%;
        margin: 0 auto;
        display: inline-flex;
        padding: 0 27px;
        margin-bottom: 20px;
    }
}

.primary_tea {
    display: inline-block;
    width: 50%;
}
.assistant_tea {
    display: inline-block;
    width: 50%;
}

.schedule_stu_list_cont {
    padding-right: 30px;
}

.schedule_type_item {
    border-bottom: 1px solid #EEE;
    padding: 0 0 10px 0;
    margin-bottom: 15px;
}

.schedule_stu_sign_item {
    display: inline-flex;
    width: 100%;
    padding: 6px 0;
}

.schedule_stu_detail {
    width: 18%;
    padding-top: 3px;
}

.schedule_sign_detail {
    width: 80%;
}

.schedule_stu_name {
    font-size: 14px;
    color: #666;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.schedule_stu_name:after {
    content: ': ';
    display: inline-block;
    margin-right: 10px;
}

.check_type_and_period {
    height: 30px;
    line-height: 25px;
}

.schedule_stu_type {
    font-size: 12px;
    color: #999;
    text-align: right;
    margin-right: 15px;
}

.sign_type_item {
    display: inline-block;
    margin-right: 20px;
}

.check_type {
    display: inline-block;
}

.sign_period_cont {
    float: right;
}

.sign_period_num {
    border: 1px solid #EEE;
    padding: 2px 6px;
    margin-left: 6px;
    border-radius: 5px;
}

.schedule_stu_score:before {
    content: '课堂表现';
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
}

.schedule_stu_message_error {
    color: #f04134;
}

.schedule_stu_message_success {
    color: green;
}
