/*入口的按钮*/
.sign_self_switch {
    border-radius: 10px;
    height: 190px;
    margin-bottom: 10px;
}

.open_sign_self_btn {
    height: 142px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.open_sign_self_btn:hover {
    opacity: 0.8;
}

.open_sign_self_btn_text {
    padding-top: 10%;
    text-align: center;
    color: #FFF;
}
.sign_self_icon {
    display: block;
    color: #FFF;
    font-size: 4rem !important;
}
.sign_self_text {
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    padding: 2px 8px;
    margin-top: 5px;
}

.download_cont {
    text-align: center;
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*安装软件的窗口*/
.sign_soft_download {
    position: relative;
    padding: 30px;
    padding-bottom: 50px;
    padding-right: 0;
    text-align: center;
}

.sign_soft_desc_item {
    font-size: 16px;
}
.close_btn {
    float: right;
    margin-top: 25px;
}

/*扫码签到窗口*/
.sign_self_modal_title {
    width: 100%;
}

.title_text {
    display: inline-block;
    line-height: 30px;
}

.title_close_btn {
    float: right;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: #388BE3;
    cursor: pointer;
}
.title_close_btn:hover {
    opacity: 0.8;
}

.qrcode_input_cont {
    opacity: 0;
    height: 0;
}

/*签到记录和二维码*/
.stu_sign_self_cont {
    width: 100%;
}
.sign_self_content {
    width: 100%;
    display: inline-flex;
}

.left_content {
    width: 66%;
}

.message_text {
    color: #FF6C60;
    font-size: 12px;
    margin-bottom: 20px;
}

.sign_record_cont {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #DDD;
    height: 235px;
}

.sign_record_title_cont {
    width: 100%;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 20px;
    font-size: 14px;
    color: #666;
    height: 30px;
    background-color: #F1F1F1;
}

.record_title_name {
    float: left;
}

.record_title_org {
    position: absolute;
    left: 40%;
}

.record_title_time {
    float: right;
}

.sign_record_item_cont {
    width: 100%;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 20px;
    font-size: 14px;
    color: #666;
    height: 40px;
    line-height: 30px;
}

.record_item_name {
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 140px;
}

.record_item_org {
    position: absolute;
    left: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 230px;
}

.record_item_time {
    float: right;
}

.desc_text {
    padding: 10px 20px;
    color: #999;
    font-size: 14px;
}

.no_sign_record_cont {
    width: 100%;
    text-align: center;
    padding-top: 10%;
}

.no_sign_record_text {
    color: #999;
    font-size: 16px;
}

/*右侧二维码*/
.right_cont {
    width: 34%;
    padding: 30px 40px;
    text-align: center;
}

.title_text_one {
    color: #333;
    font-size: 16px;
}

.title_text_two {
    color: #999;
    font-size: 14px;
}

.qrcode_cont {
    padding-top: 10px;
}
.qrcode_cont canvas {
    border-radius: 5px;
}
