:global{
    .yhwu_wx_activity_model{
        height : 800px;
    }
    .yhwu_wx_activity_model .ant-modal-content{
        height : 800px;
    }
    .yhwu_wx_activity_model .ant-modal-body{
        margin: 30px 20px 10px 30px;
        padding: 0;
        height: 660px;
    }
    .yhwu_wx_activity_model .ant-modal-footer{
        border : none;
        height : 50px;
        padding : 0 20px 20px 20px;
    }

    //配置组件样式
    .design_page{
        display : inline-block;
        vertical-align : top;
        width: 503px;
        height: 640px;
        margin-top : 20px;
        padding-right : 20px;
        overflow : auto;
    }
    .design_page .design_page_base{
        margin-bottom : 20px;
    }
    .design_page .design_page_base::before{
        content : '';
        display : inline-block;
        vertical-align: middle;
        background : #5d9cec;
        width : 12px;
        height : 28px;
    }
    .design_page .design_page_base span{
        display : inline-block;
        vertical-align: middle;
        margin-left : 10px;
        font-size : 14px;

    }


    //公共样式覆盖
    .yhwu_wx_activity_model .ant-form-item-control-wrapper{
        margin-top : 4px;
    }
    .yhwu_wx_activity_model form textarea.ant-input{
        height : 50px;
    }
    .yhwu_wx_activity_model .courseDetail .ant-form-item{
        margin-bottom : 5px;
    }
}
