.source_select{
  width: 200px;
}

.lists_box{
  display: flex;

  .first_sub_source{
    margin-left: 20px;
  }
}

.finance_title{
  font-weight: normal;
  margin-bottom: 10px;

  .title_block{
    display: block;
    float: left;
    width: 8px;
    height: 14px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #5d9cec;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
