/*引入less定义的方法*/
@import '../../../common/less/common.less';
:global{
	.gx_ysj_course_manage_modal{
		width: 30% !important;
		border-radius: 2px !important;
	}
	.gx_ysj_course_manage_modal .ant-modal-content .ant-modal-header{
		background: #fff;
	}
	.gx_ysj_course_manage_modal .ant-modal-title{
		color: #0e0606 !important;
	}
	.gx_ysj_course_manage_modal .ant-modal-content .ant-modal-close {
		color:#cccccc !important;
	}
	.gx_ysj_course_manage_modal .ant-modal-footer{
		border-top: 1px solid#e9e9e9 !important;
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}
	.gx_ysj_course_manage_modal .ant-modal-content .ant-modal-footer .ant-btn-primary{
		background-color: #5d9cec !important;
		border:#5d9cec 1px solid !important;
	}
}
.report_form_top_header{
	position : relative;
	height : 50px;
	line-height : 50px;
	//border-bottom : 4px solid @saas_main_color;
	font-size : 14px;
}
.ant-modal-content{
	height: 400px !important;
}
.top_header_orgName{
	display : inline-block;
	margin-right : 30px;
}
.top_header_orgName_label{
	margin-right : 10px;
	color : #666;
}
.top_header_clear{
	margin-left : 20px;
}
.top_header_select{
	display : inline-block;
	margin-right : 20px;
}
.export_btn{
	position : absolute;
	right : 10px;
	top : 10px;
	background : #88c702;
	border : 1px solid #88c702;
	color : #fff;
}
.export_btn:hover{
	background : #88c702;
	border : 1px solid #88c702;
	color : #fff;
}
.export_btn_cloud{
	position : absolute;
	right : 320px;
	top : 10px;
	color : #5d9cec;
	border:1px solid #ccc
}
.export_btn_cloud:hover{
	border:1px solid #5d9cec
}
.export_btn_vip{
    position : absolute;
	right : 160px;
	top : 10px;
	background : #FBB323;
	border : 1px solid #FBB323;
	color : #fff;
}
.export_btn_vip:hover{
	background : #FBB323;
	border : 1px solid #FBB323;
	color : #fff;
}
.org{
    display : inline-block;
	margin-right : 10px;
}

.report_form_top_total{
    width: 100%;
    margin: 10px 0;
    height:100px;
    border: 1px solid #ccc;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y:hidden;

}
.report_form_top_total_title{
    width:100%;
    height: 50px;

}
.report_form_top_total_date{
    width:100%;
    height: 50px;
}
.report_form_top_total_title li{
    background: #f5f6f8;
}
.report_form_top_total_title li,.report_form_top_total_date li{
    list-style: none;
    width: 10%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display:inline-block;
}

.tip_icon{
	margin-right: 20px;
	vertical-align: middle;
	cursor: pointer;
	color: #5d9cec;
}
.export_btn_block{
	height: 30px;
	line-height: 30px;
	margin-top:40px;
}
.export_break_style{
	margin-bottom:50px;
	margin-top:40px;
 }
 .fontstyle{
    color: rgba(255,0,0,.733);
    font-size: 12px !important;
    text-align: center;
    display: block;
}
.font_style{
	display: block;
	color: #5d9cec;
	font-size: 12px;
}
.export_select_date{
padding-right: 10px;
font-size: 14px;
}
.export_break_line{
padding: 0 10px;
}


