.order_class_header{
	height : 50px;
    padding : 10px;
	display : -webkit-flex;
    display : flex;
    flex-wrap : nowrap;
    justify-content : space-between;
    align-items : center;
}
.order_class_header_time{
    width : 50%;
    display:-webkit-flex;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
}
.order_class_header_left,.order_class_header_right{
	width : 25%;
}
.order_class_header_right{
    display : -webkit-flex;
    display : flex;
    justify-content : flex-end;
    flex-wrap : nowrap;
}
.last_day, .next_day{
	font-size : 14px;
}
.current_day{
	font-size : 20px;
}

:global{
	.back_current_day{
		font-size : 12px;
	}
}
