@baseColor : #ffffff;
.background( @url, @size : 100% 100% ){
	background-image : url( @url );
	background-size : @size;
}
.absolute( @width, @height, @top, @bottom, @left, @right ){
	position : absolute;
	width    : @width;
	height   : @height;
	top      : @top;
	bottom   : @bottom;
	left     : @left;
	right    : @right;
}
.flex{
	display : flex;
	align-items : center;
	justify-content : center;
}
.animation_value( @value ){
	animation : @value;
	-webkit-animation : @value;
	-moz-animation : @value;
	-ms-animation : @value;
	-o-animation : @value;
}
/*第一页动画开始*/
.english_two_head_border1{
	margin : auto;
	.absolute( 70px, 70px, 0, 0, 0, 0 );
	border-radius : 50%;
	border : 5px solid #CE6E5F;
	opacity : 0;
	.animation_value( solid_ani_1 1s linear infinite alternate forwards );
	animation-delay : 1.5s;
}
.english_two_head_border2{
	margin : auto;
	.absolute( 70px, 70px, 0, 0, 0, 0 );
	border-radius : 50%;
	border : 5px solid #CB3535;
	opacity : 0;
	.animation_value( solid_ani_2 1s linear infinite alternate forwards );
	animation-delay : 1.5s;
}
@keyframes solid_ani_1{
	0%{ width : 80px; height : 80px; opacity : 1 }
	100% { width : 70px; height : 70px; opacity : 1 }
}
@keyframes solid_ani_2{
	0%{ width : 85px; height : 85px; opacity : 1 }
	100% { width : 70px; height : 70px; opacity : 1 }
}
.english_two_head_img{
	.absolute( 70px, 70px, 10px, auto, 10px, auto );
	border-radius : 50%;
	overflow : hidden;
	transform : translateY( -400px );
	img{
		width : 100%;
		height : 100%;
	}
	.animation_value( english_two_head_img_ani 1.5s linear forwards );
}

@keyframes english_two_head_img_ani{
	0%{ transform : translateY( -400px ) }
	80%{ transform : translateY( 0px ) }
	90%{ transform : translateY( -20px ) }
	100%{ transform : translateY( 0px ) }
}
/*第一页动画结束*/
/*第二页动画开始*/
.select_item{
	width : 270px;
	height : 40px;
	line-height : 24px;
	margin : 0 auto 25px;
	padding : 8px 32px;
	border-radius : 20px;
	color : @baseColor;
	font-size : 14px;
	font-weight : bold;
	border : 1px solid @baseColor;
	box-sizing : border-box;
	background : rgba( 0, 0, 0, .2 );
	position : relative;
	z-index : 2;
	overflow : hidden;
	transform : translateX( 300px );
	.animation_value( select_item_ani .8s 1 ease-in-out forwards );
}
@keyframes select_item_ani{
	0%{ transform : translateX( 300px ); }
	100%{ transform : translateX( 0px ); }
}
.english_two_title{
	width : 280px;
	margin : 30px auto 25px;
	font-size : 18px;
	font-weight : bold;
	color : @baseColor;
	line-height : 30px;
	max-height : 60px;
	p{
		max-height : 60px;
		overflow : hidden;
	}
	transform : translateY( -100px );
	.animation_value( english_two_title_ani 1s 1 linear forwards );
}
@keyframes english_two_title_ani{
	0%{ transform : translateY( -100px ) ;}
	65%{ transform : translateY( 0px ) ;}
	75%{ transform : translateY( -5px ) ;}
	85%{ transform : translateY( 5px ) }
	95%{ transform : translateY( -5px ) }
	100%{ transform : translateY( 0px ) }
}

/*第二页动画结束*/
:global{
	.english_two_page1_render{
		.background( 'https://img.ishanshan.com/gimg/img/c3714969eecd5d15fc9f7d2a2b50c18d' );
		background-color : @baseColor;
		overflow : hidden;
		.english_two_page1_wrap{
			.absolute( 260px, 230px, 215px, auto, 0, auto );
		}
		.origin_content{
			.absolute( 260px, 230px, 0, auto, 0, auto );
		}
		.english_two_head_img_wrap{
			.absolute( 90px, 90px, 0, auto, 0, auto );
			background : #A90909;
		}
		.english_two_svg{
			.absolute( auto, auto, 0, auto, 90px, auto );
		}
		.english_two_content{
			.absolute( 260px, 140px, 90px, auto, 0, auto );
			background : #BD0D0D;
			color : @baseColor;
			.english_two_title{
				margin : 10px auto;
				width : 220px;
				height : 56px;
				line-height : 28px;
				font-size : 21px;
				font-weight : bold;
				.flex;
				p{
					max-height : 56px;
					overflow : hidden;
					text-align : center;
				}
			}
			.english_two_subTitle{
				margin : 0 auto;
				width : 220px;
				height : 40px;
				line-height : 20px;
				font-size : 14px;
				.flex;
				p{
					max-height : 40px;
					overflow : hidden;

				}
			}
		}
	}
	.english_two_answer{
		overflow : hidden;
	}
	.english_two_page2_render{
		.background( 'https://img.ishanshan.com/gimg/img/dcb58027bdd6ebfc909282e9b71f2429' );
		background-color : @baseColor;
		.background_1{
			.absolute( 278px, 335px, auto, 0, auto, 0 );
			.background( 'https://img.ishanshan.com/gimg/ori/2994ce9596e6f7c43d3ff920cecfff23', cover );
		}
	}
	.english_two_page3_render{
		.background( 'https://img.ishanshan.com/gimg/img/7f90f325e57567942153004bcbfea842' );
		background-color : @baseColor;
		.background_2{
			.absolute( 247px, 310px, auto, 0, auto, 0 );
			.background( 'https://img.ishanshan.com/gimg/ori/47b22a40a3d6fe76beb3bbf9617289b1', cover );
		}
	}
	.english_two_page4_render{
		.background( 'https://img.ishanshan.com/gimg/img/6b58a274cb50c6dd5c7df6cf0d937278' );
		background-color : @baseColor;
		.background_3{
			.absolute( 220px, 245px, auto, 0, 50px, 0 );
			.background( 'https://img.ishanshan.com/gimg/ori/7a0f23199bc832e4311704a6f68c56e5', cover );
		}
	}
	.english_two_page5_render{
		.background( 'https://img.ishanshan.com/gimg/img/bdc9916a4cd82c22dc95cc71361c54be' );
		background-color : @baseColor;
		.robot{
			.absolute( 326px, 490px, auto, 0, 0, auto );
			.background( 'https://img.ishanshan.com/gimg/ori/c86f90b0f172f9761ab0b605e377cbf4' )
		}
		.english_two_content{
			.absolute( 130px, 80px, 180px, auto, 95px, auto );
			.flex;
			color : #546198;
			font-size : 16px;
			font-weight : bold;
			line-height : 20px;
			z-index : 2;
			p{
				max-height : 80px;
				overflow : hidden;
			}
		}
	}
	.english_two_page6_render{
		.background( 'https://img.ishanshan.com/gimg/img/62a4f1addac21b90aa8dd0ad997b2cbf' );
		background-color : @baseColor;
		.english_two_title{
			width : 200px;
			height : 80px;
			line-height : 90px;
			text-align : center;
			margin : 0 auto;
			overflow : hidden;
			color : @baseColor;
			font-size : 24px;
			font-weight : bold;
		}
		.english_two_content{
			width : 280px;
			margin : 0 auto;
			height : 112px;
			line-height : 28px;
			color : @baseColor;
			overflow : hidden;
			font-size : 18px;
			font-weight : bold;
			.flex;
			p{
				max-height : 112px;
			}
		}
		.robot{
			.absolute( 326px, 334px, auto, 0, 0, auto );
			.background( 'https://img.ishanshan.com/gimg/ori/64e1b44cc812faf68fcd54f310393136', cover )
		}
	}
	.english_two_page7_render{
		.background( 'https://img.ishanshan.com/gimg/img/4111d77dea68bf033a1e7cec95d401c2' );
		background-color : @baseColor;
		.english_two_title{
			width : 200px;
			height : 80px;
			line-height : 90px;
			text-align : center;
			margin : 0 auto;
			overflow : hidden;
			color : @baseColor;
			font-size : 24px;
			font-weight : bold;
		}
		.common{
			margin : 0 auto;
			width : 270px;
			height : 40px;
			line-height : 40px;
			margin-bottom : 10px;
			background : rgba( 0, 0, 0, 0.2 );
			border-radius : 20px;
			overflow : hidden;
			color : @baseColor;
			text-align : center;
			font-size : 14px;
		}
		.english_btn{
			background : #EED137;
			font-size : 16px;
		}
	}
}
