.tenant_login_cont {
    width: 100%;
}

.top_logo_cont {
    width: 100%;
    background-color: #5D9CEC;
}

.top_logo_content {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.top_logo_content img {
    width: 90px;
    height: 90px;
    float: left;
    margin-top: 10px;
}

.top_logo_text_cont {
    margin-left: 110px;
    padding-top: 25px;
    color: #FFF;
    padding-bottom: 25px;
}

.top_logo_text_title {
    font-size: 30px;
    font-weight: bold;
}

.top_logo_text_desc {
    font-size: 18px;
}

/*------------logo之下部分-------------*/
.login_cont {
    width: 1000px;
    margin: 0 auto;
}

.login_title {
    color: #5D9CEC;
    padding: 60px 0 40px 20px;
    font-size: 18px;
    border-bottom: 2px solid #5D9CEC;
    margin-bottom: 20px;
}

.bind_content {
    padding-left: 20px;
}

.bind_content_desc {
    margin-top: 15px;
    margin-bottom: 20px;
}
.bind_content_desc_item {
    font-size: 14px;
    color: #999;
}

/*---------------门店绑定区域----------------*/
.mapping_cont {
    width: 100%;
    display: inline-flex;
}

/*--------------↓↓↓↓↓左侧关联操作区域------------------*/
.mapping_handle_cont {
    width: 620px;
    margin-right: 50px;
}

.mapping_handle_title {
    display: inline-flex;
    width: 100%;
}

.mapping_handle_content {
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 10px;
    padding: 10px;
    height: 406px;
    overflow-y: auto;
}

.mapping_handle_item {
    width: 100%;
    display: inline-flex;
    padding: 5px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.28);
}

.shop_info {
    width: 50%;
}

.shop_name {
    font-size: 14px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.shop_address {
    font-size: 12px;
    color: #999;
    width: 99%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.map_org_select {
    width: 50%;
}
/*--------------↑↑↑↑↑左侧关联操作区域------------------*/

.mapping_item {
    width: 310px;
}

.mapping_item_title {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.mapping_item_content {
    padding: 10px;
    padding-left: 0;
    padding-right: 10px;
    height: 406px;
    overflow-y: auto;
    border: 1px solid #DDD;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.33);
}

.mapping_org_item {
    padding: 5px 0;
    padding-left: 10px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.31);
    border-radius: 5px;
    margin: 3px 0;
}

.mapping_org_item_orgname {
    font-size: 14px;
    color: #666;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    width: 99%;
}

.mapping_org_item_address {
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    width: 99%;
}

.submit_btn_cont {
    text-align: right;
    margin-top: 20px;
}

.select_all {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}
