/*登陆后多租户选择*/

.login_tenant_select_cont {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 20px;
}

.login_tenant_select_item {
    width: 100%;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
    display: inline-flex;
}

.login_tenant_select_item:hover {
    background-color: #FBFBFB;
}

.tenant_select_item_name {
    display: inline-block;
    width: 99%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tenant_select_item_status_active {
    display: inline-block;
    width: 18%;
    color: green;
}

.tenant_select_item_status_noactive {
    display: inline-block;
    width: 18%;
    color: red;
}
