:global {
    .login_info_desc {
        font-size: 14px;
        color: #999;
        display: block;
    }

    .login_info_desc span {
        font-size: 14px;
        color: #999;
    }

    .login_info_desc .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #999;
        border-color: #999;
    }

    .login_info_desc.ant-checkbox-wrapper:hover .ant-checkbox .ant-checkbox-inner,
    .login_info_desc.ant-checkbox:hover .ant-checkbox-inner,
    .login_info_desc.ant-checkbox-focused .ant-checkbox-inner {
        border-color: #999;
    }
}
.tenant_login_cont {
    width: 100%;
}

.top_logo_cont {
    width: 100%;
    background-color: #5D9CEC;
}

.top_logo_content {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.top_logo_content img {
    width: 90px;
    height: 90px;
    float: left;
    margin-top: 10px;
}

.top_logo_text_cont {
    margin-left: 110px;
    padding-top: 25px;
    color: #FFF;
    padding-bottom: 25px;
}

.top_logo_text_title {
    font-size: 30px;
    font-weight: bold;
}

.top_logo_text_desc {
    font-size: 18px;
}

/*------------logo之下部分-------------*/
.login_cont {
    width: 1000px;
    margin: 0 auto;
}

.login_title {
    color: #5D9CEC;
    padding: 60px 0 40px 20px;
    font-size: 18px;
    border-bottom: 2px solid #5D9CEC;
    margin-bottom: 20px;
}

.login_content {
    width: 100%;
    display: inline-flex;
}

.login_form_cont {
    width: 50%;
    border-right: 1px solid #DDD;
}

.href_text {
    color: #5D9CEC;
    cursor: pointer;
    font-size: 14px;
}

.href_text:hover {
    opacity: 0.8;
}

.login_info_cont {
    width: 50%;
    padding-left: 80px;
}

.login_info_title {
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
}
