:global {
    .common_class_schedule_content {
    }

    /*标签页 头部*/
    .common_class_schedule_content .ant-tabs-bar {
        margin-bottom: 0;
        border: 0;

    }

    .common_class_schedule_content .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-nav-container {
        height: 46px;
    }

    .common_class_schedule_content .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-nav-wrap {
        height: 100%;
    }

    .common_class_schedule_content .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-nav-scroll {
        height: 100%;
    }

    .common_class_schedule_content .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-nav {
        height: 100%;
    }

    .common_class_schedule_content .ant-tabs-tab {
        background-color: #CCC!important;
        height: 28px;
        border-radius: 5px!important;
        color: #FFF;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        border: 0!important;
        margin-right: 10px!important;
        width: 80px;
    }

    .common_class_schedule_content .ant-tabs-tab-active {
        font-size: 18px;
        line-height: 35px;
        background-color: #FFF!important;
        color: #666!important;
        height: 100%;
        border-radius: 6px 6px 0 0!important;
        width: 90px;
    }

    .common_class_schedule_content .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
         transition: inherit;
        -webkit-transition: inherit;
    }

    .common_class_schedule_content .ant-tabs-nav .ant-tabs-tab:hover {
        color: #FFF;
        opacity: 0.8;
    }

    .common_class_schedule_content .ant-tabs-nav .ant-tabs-tab-active:hover {
        color: #FFF;
        opacity: 1;
    }

    /*标签页 内容区域*/
    .common_class_schedule_content .ant-tabs-content .ant-tabs-tabpane {
        background-color: #FFF;
        border-radius: 10px;
    }

    .common_class_schedule_content .ant-tabs-content .ant-tabs-tabpane:first-child {
        border-top-left-radius: 0px;
    }

}

@filter_btn_margin : 10px;

/*课程表功能区域*/
.tab_bar_content {
    display: inline-flex;
}

.class_schedule_filter_cont {
    max-width: 480px;
}

.class_schedule_org_filter_content {
    display: inline-block;
    margin: @filter_btn_margin;
}

.class_filter_cont {
    margin: @filter_btn_margin;
    display: inline-block;
}

.course_filter_cont {
    display: inline-block;
    margin: @filter_btn_margin;
}

.teacher_filter_cont {
    display: inline-block;
    margin: @filter_btn_margin;
}

.student_filter_cont {
    display: inline-block;
    margin: @filter_btn_margin;
}

.search_btn_cont {
    margin-left: 10px;
}


