@import '../../../common/less/common.less';

:global{
	.cerp_appoint_class_modal .ant-modal-body{
		padding : 20px;
		height : 550px;
	}
}
.start_time{
	margin : 0;
	padding : 0;
	height : 14px;
	line-height : 14px;
	font-size : 14px;
}
.tips{
	margin : 20px auto 20px;
	width : 400px;
	height : 38px;
	text-align : center;
	font-size : 12px;
	line-height : 38px;
	background : #f1f1f1;
	border-radius : 5px;
}
.line{
	width : 100%;
	border-bottom : 1px solid #ddd;
}
.appoint_list_wrap{
	overflow : auto;
    height : 398px;
    margin-top : 20px;
}
.appoint_list_wrap_item{
	height : 20px;
	line-height : 20px;
	margin-bottom : 20px;
	font-size : 14px;
}
.item_name{
	display : inline-block;
	width : 200px;
}
.item_status_yes{
	color : @saas_main_color;
}
.item_status_no{
	color : #ff7f75;
}
