.form_left{
	display : inline-block;
	vertical-align : top;
	width : 50%;
}
.form_right{
	display : inline-block;
	vertical-align : top;
	width : 50%;
}
:global{
	.ant-popover{
		z-index : 2000;
	}
	.cerp_edit_class_info_modal .ant-modal-body{
		padding : 20px;
	}
	.cerp_edit_class_info_modal .ant-modal-footer{
		padding : 0 20px 20px 0;
	}
}
