@import "../../common/less/common.less";

.table_top {
  .flex();
  font-size: 14px;
  margin-bottom: 10px;

  .top_text_left {
    margin-right: 20px;
  }
  .top_num {
    font-size: 22px;
    color: #666;
    font-weight: bold;
    line-height: 22px;
  }
}

.expense_actoin{
  margin-right: 10px;
}
