:global {
    /*第一页样式 开始*/
    .childrenDay-page1-render-design {
        background-image: url("//img.ishanshan.com/gimg/img/b3b2c9cc2166707b03911e5147db02ec");
    }
    .childrenDay-page1-title {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 150px;
        width: 290px;
        height: 55px;
        box-sizing: content-box;
        line-height: 55px;
        background: rgba(255, 255, 255, 0.7);
        border: 4px solid #654ad9;
        border-radius: 20px;
        font-size: 28px;
        font-weight: 700;
        color: #654ad9;
        text-align: center;
        overflow: hidden;
    }
    /*第一页样式 结束*/
    /*第二页样式 开始*/
    .childrenDay-page2-render-design {
        background-image: url('//img.ishanshan.com/gimg/img/c1baa3c9da0c73f54400f173427db6d3');
    }
    .childrenDay-page2-title {
        position: absolute;
        top: 19px;
        margin: auto;
        left: 0;
        right: 0;
        width: 293px;
        height: 56px;
        line-height: 55px;
        box-sizing: content-box;
        background: rgba(255, 255, 255, .7);
        color: #654ad9;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        border: 4px solid #654ad9;
        border-radius: 16px;
    }
    .childrenDay-page2-content {
        position: absolute;
        top: 102px;
        margin: auto;
        left: 0;
        right: 0;
        width: 293px;
        height: 204px;
        color: #666;
        font-size: 14px;
        overflow: hidden;
        background: rgba(255, 255, 255, .7);
        border: 4px solid #654ad9;
        border-radius: 16px;
        box-sizing: content-box;
        padding: 10px 0;
    }
    .childrenDay-page2-content-item {
        display: block;
        width: 270px;
        min-height: 16px;
        line-height: 16px;
        margin: 0 auto 5px;
    }
    .childrenDay-page2-content-item-label {
        display: inline-block;
        box-sizing: border-box;
        width: 70px;
        height: 16px;
        line-height: 20px;
        vertical-align: top;
        text-align: right;
        margin-right: 10px;
        overflow: hidden;
    }
    .childrenDay-page2-content-item-value {
        display: inline-block;
        box-sizing: border-box;
        width: 190px;
        min-height: 16px;
        line-height: 20px;
    }
    /*第二页样式 结束*/
    /*第三页样式 开始*/
    .childrenDay-page3-render-design {
        background-image: url("//img.ishanshan.com/gimg/img/ba57bcc08daacdf104a01682e65c17bf");
    }
    /*标题样式*/
    .childrenDay-page3-title {
        position: absolute;
        top: 28px;
        margin: auto;
        left: 0;
        right: 0;
        height: 53px;
        line-height: 53px;
        width: 280px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: #654ad9;
        overflow: hidden;
    }
    /*图片 样式*/
    .childrenDay-page3-content-item1 {
        position: absolute;
        top: 107px;
        left: 19px;
        width: 109px;
        height: 109px;
        border-radius: 13px;
        overflow: hidden;
    }
    .childrenDay-page3-content-item2 {
        position: absolute;
        top: 229px;
        left: 19px;
        width: 109px;
        height: 109px;
        border-radius: 13px;
        overflow: hidden;
    }
    .childrenDay-page3-content-item3 {
        position: absolute;
        top: 352px;
        left: 19px;
        width: 109px;
        height: 109px;
        border-radius: 13px;
        overflow: hidden;
    }
    .childrenDay-page3-content-item-image {
        width: 100%;
        height: 100%;
    }
    .childrenDay-page3-content-item {
        position: absolute;
        box-sizing: border-box;
        left: 150px;
        width: 150px;
        height: 106px;
        padding: 13px 10px;
        color: #666;
        font-size: 13px;
        overflow: hidden;
    }
    .childrenDay-page3-content-item4 {
        top: 108px;
    }
    .childrenDay-page3-content-item5 {
        top: 230px;
    }
    .childrenDay-page3-content-item6 {
        top: 355px;
    }
    .childrenDay-page3-bg {
        background: url('//img.ishanshan.com/gimg/img/0a6ca0fb89baafd9c9fd9b5ac5119db2');
        background-size: cover;
        width: 93px;
        height: 106px;
        position: absolute;
        bottom: 0;
        left: 80px;
    }
    /*第三页样式 结束*/
    /*第四页样式 开始*/
    .childrenDay-page4-render-design {
        background-image: url("//img.ishanshan.com/gimg/img/75ff01e3dd8dbf0368cc4f52f61c2d2e");
    }
    .childrenDay-page4-title,
    .childrenDay-page5-title {
        position: absolute;
        margin: auto;
        top: 28px;
        left: 0;
        right: 0;
        width: 275px;
        height: 52px;
        line-height: 52px;
        color: #654da9;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        overflow: hidden;
    }
    .childrenDay-page4-content-item1 {
        position: absolute;
        top: 110px;
        left: 23px;
        width: 133px;
        height: 134px;
        border-radius: 8px;
        overflow: hidden;
    }
    .childrenDay-page4-content-item2 {
        position: absolute;
        top: 110px;
        left: 173px;
        width: 133px;
        height: 134px;
        border-radius: 8px;
        overflow: hidden;
    }
    .childrenDay-page4-content-item-image {
        width: 100%;
        height: 100%;
    }
    .childrenDay-page4-content-value {
        position: absolute;
        top: 267px;
        left: 25px;
        width: 279px;
        height: 167px;
        padding: 14px 10px 10px;
        color: #666;
        font-size: 14px;
        overflow: hidden;
    }
    .childrenDay-page4-bg1 {
        background: url(//img.ishanshan.com/gimg/img/ac2b86acfb181eae2e0ac7e53de5fe71);
        background-size: cover;
        width: 100px;
        height: 121px;
        position: absolute;
        bottom: 22px;
        left: 20px;
    }
    .childrenDay-page4-bg2 {
        background: url('//img.ishanshan.com/gimg/img/481213c1319279700b9a369e1216d2da');
        background-size: cover;
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 20px;
        right: 0;
    }
    /*第四页样式 结束*/
    /*第五页样式 结束*/
    .childrenDay-page5-render-design {
        background-image: url("//img.ishanshan.com/gimg/img/5d1dd22b294323148a5fe264c77b460c");
    }
    .childrenDay-page5-title {
        top: 28px;
        color: #654da9;
        border: 3px solid #725AE0;
        box-sizing: content-box;
        background: rgba(255, 255, 255, .7);
        border-radius: 12px;
        height: 48px;
        line-height: 48px;
        width: 285px;
    }
    .childrenDay-page5-name,
    .childrenDay-page5-phone,
    .childrenDay-page5-birthday {
        position: absolute;
        top: 94px;
        margin: auto;
        left: 0;
        right: 0;
        width: 285px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        color: #666;
        background: rgba(255, 255, 255, 0.7);
        border: 3px solid #725AE0;
        border-radius: 12px;
        box-sizing: content-box;
    }
    .childrenDay-page5-phone {
        top: 153px;
    }
    .childrenDay-page5-birthday {
        top: 213px;
    }
    .childrenDay-page5-btn {
        position: absolute;
        top: 276px;
        margin: auto;
        left: 0;
        right: 0;
        width: 285px;
        height: 40px;
        line-height: 40px;
        background: #F2D12C;
        border-radius: 12px;
        text-align: center;
        color: #fff;
        font-size: 16px;
    }
    /*第五页样式 结束*/
}