@baseName : createGame;
:global {
    .@{baseName} {
        .ant-tabs-nav-container-scrolling {
            padding: 0px;
        }
        .ant-tabs-nav .ant-tabs-tab-active {
            height: 28px;
            color: #FFF;
            background: #5D9CEC;
            border: 0.5px #5D9CEC solid !important;
        }
        .ant-tabs-nav .ant-tabs-tab {
            text-align: center;
            margin-right: 0px;
            height: 28px;
            line-height: 11px;
            border-right: 0.5px #DDDDDD solid;
            border-top: 0.5px #DDDDDD solid;
            border-bottom: 0.5px #DDDDDD solid;
        }
        .ant-tabs-nav .ant-tabs-tab:nth-child(2) {
            border-left: 0.5px #DDDDDD solid;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .ant-tabs-nav .ant-tabs-tab:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-right: 0.5px #DDDDDD solid;
        }
        .ant-tabs-bar {
            border-bottom: 0px solid #d9d9d9;
            margin-bottom: 28px !important;
        }
        .ant-tabs-nav-wrap {
            margin-bottom: 0px;
            line-height: 14px;
        }
        .ant-tabs-ink-bar {
            background-color: #5d9cec;
            opacity: 0;
        }
    }
}

.box {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
}

.gameLeftBox {
    width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
    background-color: #F1F1F1;
}

.gameRightBox {
    width: 50%;
    height: 100%;
    float: right;
    padding: 30px;
    overflow: auto;
}

.gameBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    transform: translateX(100%);
    z-index: 102;
}

.newGameBox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    transform: translateX(100%);
    z-index: 102;
}

.boxTransformOpen {
    .gameBox();
    transform: translateX(100%);
    animation: boxTransformAniOpen;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    background: #fff;
}
.h5BoxTransformOpen {
    .newGameBox();
    transform: translateX(100%);
    animation: boxTransformAniOpen;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    background: #fff;
}

@keyframes boxTransformAniOpen {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.boxTransformCancel {
    .gameBox();
    animation: boxTransformAniClose;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes boxTransformAniClose {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.firstTouch {
    .gameBox();
    transform: translateX(100%);
}

.mask {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    z-index: 101;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.H5create {
    text-align: center;
    width: 100%;
    height: 100%;
}
.H5create :global(.ant-spin-spinning) {
    margin: 0 auto; /*水平居中*/
    position: relative;
    top: 50%; /*偏移*/
    margin-top: -10px;
}
