.login_user_info_img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.login_user_info {
    margin-right: 20px;
    padding-top: 12px;
    padding-right: 6px;
    margin-left: 10px;
    max-width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.triangle_border_right{
    width:0;
    height:0;
    border-width:8px 8px 0px 0px;
    border-style:solid;
    border-color:transparent #CCC transparent transparent;
    margin-left: 100%;
    position:relative;
}

.header_login_user_cont {
    display: inline-flex;
    margin-top: 13px;
}

.login_uer_name_text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 65px;
    display: block;
}
