:global{
    /*表单内容公共样式*/
    .zj_password_change_modal .ant-modal-body {
        padding: 20px;
    }
    .zj_password_change_modal .ant-modal-footer{
        margin: 0;
        padding: 0 20px 20px 20px;
    }
    .zj_password_change_modal .ant-form-item{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    .zj_password_change_form{
        max-height: 609px;
        overflow: hidden;
    }
}
