.search_form{
    width:100%;
    height:auto;
    overflow:hidden;
    margin-bottom:30px;
}
.search_content{
    width:100%;
    padding:20px;
    border:1px solid #ddd;
    border-radius:10px;
}
.search_top{
    width:100%;
    height:28px;
}

.search_item{
    width:120px;
    height:28px;
    float:left;
    margin-right:40px;
    font-size:12px;
    color:#999;
}
.search_btns Button{
    height:28px;
    padding:0 24px;
    line-height:28px;
    float:right;
}
.search_btn{
    margin-right:10px;
}
.common_style{
    width:100%;
    height:28px;
    margin-bottom:20px;
}
.operate{
    color:#666;
    float:left;
    height:28px;
    line-height:28px;
    padding:0 10px;
    font-size:14px;
}
.delete{
    float:left;
    height:28px;
    line-height:28px;
    color:#0000FF;
    font-size:14px;
}
.operation_right Button{
    height:28px;
    line-height:28px;
    float:right;
}
.operation_right .addMoreCon{
    margin-right:10px;
}
