:global{
    .online_account_cash_application .ant-modal-body{
        margin : 0;
        padding : 20px;
    }
    .online_account_cash_application .ant-modal-footer{
        margin : 0;
        padding : 0 20px 20px 20px;
    }
    .online_account_cash_application .ant-form-item{
        margin-left : -10px;
        margin-bottom : 10px;
        &:last-child{
            margin-bottom : 0;
        }
    }
}
.all{
    width : 100%;
    height : 100%;
    overflow : hidden;
}
.accountTitle{
    font-size : 14px;
    overflow : hidden;
    width:100%;
    height:60px;
    background:#F8F8FB;
    border-radius: 5px;
    margin-bottom:10px;
    display : -webkit-flex;
    display : flex;
    flex-wrap : nowrap;
    align-items : center;
}
.accountTitle>p{
    margin-right : 20px;
}
.mentionReal{
    height: 30px;
    display: block;
    line-height: 30px;
}
.accountTitle>p>span{
    font-size:22px;
    color:#666;
    font-weight: bold;
}
.shangjiao sapn{
    color:#fff;
}
.accountTitle Button{
    width:80px;
    margin-right:10px;
}
