.item{
    display : -webkit-flex;
    display : flex;
    align-items : center;
}
.icon{
    color : #5d9cec;
    margin-right : 2px;
}

.common_mgr_search_org_filter :global(.ant-select-selection--multiple) {
    overflow-y: auto;
    height: 28px;
}
