:global {
	.addClassesModal .ant-form-item-control {
		line-height : 0px;
	}
	
	.class-tables-base {
		padding : 20px;
	}

	.addClassesModal .ant-form-item-label label {
		font-size: 1rem;
	}
    .erp_class_management_modal .ant-modal-body{
        padding-bottom: 0;
    }
    .erp_class_management_modal .ant-modal-footer{
        margin:0;
        padding:0 20px 20px 20px;
    }
}
