
:global{
    /*新增编辑员工表单内容公共样式*/
    .online_account_turn_to_base .ant-modal-body{
        padding : 20px;
        margin : 0;
    }
    .online_account_turn_to_base .ant-form-item{
        margin-bottom : 10px;
        &:last-child{ margin-bottom : 0; }
    }
    .online_account_turn_to_base .ant-modal-footer{
        padding : 0 20px 20px 20px !important;
        margin : 0;
    }
}
.money{
    position : relative;
    a{
        position : absolute;
        line-height : 28px;
        right : 10px
    }
}
