
:global{
    .head_quarters_setting_add_or_edit_structre .ant-modal-body{
        padding : 20px;
    }
    .head_quarters_setting_add_or_edit_structre .ant-modal-footer{
        margin : 0;
        padding : 0 20px 20px 20px;
    }
    .head_quarters_setting_add_or_edit_structre .ant-form-item{
        margin-left : -10px;
        margin-bottom : 10px;
        &:last-child{
            margin-bottom : 0;
        }
    }
}
