:global {
    .common_header_qrcode_popover {
        padding-top: 9px!important;
    }

    .common_header_qrcode_popover .ant-popover-inner {
        border-radius: 10px;
    }

    .common_header_qrcode_popover .ant-popover-arrow {
        border-width: 10px;
    }

    .common_header_qrcode_popover .ant-popover-arrow:after {
        border-width: 15px!important;
        top: -14px!important;
        margin-left: -15px!important;
    }
}

.header_qrcode_cont {
    font-size: 18px;
    color: #666;
    line-height: 70px;
    cursor: pointer;
	display : inline-block;
}

.header_qrcode_cont:hover {
    color: #4E9FF8;
}

.qrcode_content {
    width: 200px;
}
