/*引入less定义的方法*/
@import '../../../../common/less/common.less';

:global{
    .LeadsFollowLeadsDispatchModal .ant-modal-body{
        padding : 20px;
    }
    .LeadsFollowLeadsDispatchModal .ant-modal-footer{
        margin : 0;
        padding : 0 20px 20px 20px;
    }
    .LeadsFollowLeadsDispatchModal .ant-form-item{
        margin-bottom : 0;
    }
}
.leads_follow_modals_alert_message_intro{
    font-size: 1.16rem;
    padding : 0 45px;
    margin-bottom: 16px;
    color : @status_flag_red;
}
.leads_follow_modals_alert_message{
    font-size: 1.16rem;
    padding : 0 45px;
    span{
        color : @status_flag_red;
    }
    div{
        text-indent: 2rem;
        &:nth-last-child(1){
            color : @status_flag_red;
        }
    }
}
