:global{
    .yhwu_works_update_modal{
        height : 700px;
    }
    .yhwu_works_update_modal .ant-modal-content{
        height : 700px;
    }
    .yhwu_works_update_modal .ant-modal-body{
        margin: 30px 20px 10px 30px;
        overflow: auto;
        padding: 0;
        height: 560px;
    }
    .yhwu_works_update_modal .ant-modal-footer{
        border : none;
        height : 50px;
        padding : 2px 20px 20px 20px;
    }
    .yhwu_works_update_modal .ant-form{
        margin-top : 20px;
    }
}
.update_content{
    margin-right : 10px;
}
