:global{
    .yhwu_works_manage_modal{
        height : 600px;
    }
    .yhwu_works_manage_modal .ant-modal-content{
        height : 600px;
    }
    .yhwu_works_manage_modal .ant-modal-body{
        margin: 30px 20px 20px 20px;
//        overflow: auto;
        padding: 0;
//        padding-right: 15px;
       	height: 450px;
    }
    .yhwu_works_manage_modal .ant-modal-footer{
        border : none;
        height : 50px;
        padding : 2px 20px 20px 20px;
    }
    .yhwu_works_manage_modal .ant-form-item{
        margin-bottom : 0;
    }
}

.manage_type{
	overflow : auto;
	max-height : 450px;
    border-top : 1px solid #ddd;
    border-left : 1px solid #ddd;
}
.manage_type_head_item{
    padding : 0 10px;
    height : 50px;
    line-height : 50px;
    background : #EFEFEF;
    border-bottom : 1px solid #ddd;
    border-right : 1px solid #ddd;
    font-weight : bold;
    font-size : 14px;
}
.manage_type_content_item{
    padding : 0 10px;
    height : 50px;
    line-height : 50px;
    border-bottom : 1px solid #ddd;
    border-right : 1px solid #ddd;
}
.manage_type_content_item_input{
    padding : 0 10px;
    height : 50px;
    line-height : 50px;
    border-bottom : 1px solid #ddd;
    border-right : 1px solid #ddd;
}
.manage_type_content_item_input .ant-input{

}
.manage_type_btn{
    margin-top : 21px;
    text-align : right;
}
