.leads_title{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .title_block{
    width: 8px;
    height: 14px;
    background: #5d9cec;
    border-radius: 3px;
    margin-right: 5px;
  }
}
.leads_form{
  :global{
    .ant-checkbox-disabled .ant-checkbox-inner{
      background-color: #f7f7f7 !important;
    }
  }
}
