.special_search_item{
	position : relative;
	display : inline-block;
	vertical-align : top;
	margin-right : 20px;
}
.follow_up_search{
	display : inline-block;
}

.right_btn_item{
	margin-left : 10px;
	background : #88C702;
	color : #fff;
	border-color : #88C702;
}
.right_btn_item:hover{
	border-color : #93d50f;
	background : #93d50f;
	color : #fff;
}
.right_btn_item:focus, .right_btn_item:active{
	border-color : #7ab700;
	background : #7ab700;
	color : #fff;
}
