:global {
	.history_ecord_modal {
		
	}
}

.packaging {
	height: 640px;
	overflow: auto;
}

.fileNameStyle {
	height: 30px;
    width: 220px;
	float: left;
	overflow: hidden;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.del_add {
	float: right;
    width: 60px;
	height: 30px;
	text-align: left;
	line-height: 30px;
}

.btnDiv {
    width: 170px;
    height: 28px;
    margin-right: 10px;
}

.fileDiv {
	height: 30px;
	border-bottom: 1px #ddd solid;
}
