:global {
	.upload-base {
//	 	height: 29px;
//		width: 102px;
	}
	
	.upload-ss-modal .ant-modal {
		width : 1000px!important;
	}
	
	.upload-ss-modal .ant-modal .ant-modal-content {
		height : 700px!important;
	}
	
	.source_base {
		width: 250px;
		background: #ffffff;
		height: 430px;
		margin-left: 14px;
		float: left;
	}
	
	.target_base {
		width: 250px;
		background: #f5f5f5;
		border-radius: 10px;
		height: 430px;
		margin-top: 10px;
		overflow: auto;
		float: left;
		padding: 10px 10px 10px 0px;
		border: 1px #ddd solid;
	}
	
	.mapping_base {
		width: 310px;
		background: #ffffff;
		height: 470px;
		float: left;
	}
	
	.mapping_base_content {
		width: 310px;
		background: #fff;
		border-radius: 10px;
		height: 430px;
		margin-top: 10px;
		overflow: auto;
		float: left;
		padding: 10px 10px 10px 0px;
		border: 1px #ddd solid;
	}
}

.excel_content_effective_row_div {
	padding: 14px;
}

.excel_content_input_row_div {
    color: #666;
    font-size: 14px;
}

.excel_content_line {
	background : rgb(243,243,243);
	margin-top: 6px;
	margin-bottom: 30px;
	height: 1px;
    margin-left: 14px;
    margin-right: 14px;
}

.excel_content_delect_and_add_div {
	height: 80px;
	width: 75px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
	margin-top: 160px;
}

.excel_content_button_div {
	float: right;
    margin-top: 20px;
}

.item_select_div {
	padding :2.5px 0px 2.5px 0px;
	background: rgb(108,154,230);
	width: 220px;
	text-indent: 10px;
}

.item_no_select_div {
	padding :2.5px 0px 2.5px 0px;	
	width: 220px;
	text-indent: 10px;
}

.item_no_select_div:hover {
	cursor: pointer;
}	

.item_hidden_div {
	display: none;
}

.title {
	color: #666;
    font-size: 14px;
}

.base_content_div {
	height : 100%;
    overflow: auto;
}

.mapping_item_select_div {
	padding :2.5px 0px 2.5px 0px;
	background: rgb(108,154,230);
	width: 280px;
	text-indent: 10px;
}

.mapping_item_no_select_div:hover {
	cursor: pointer;
}	

.mapping_item_no_select_div {

		padding :2.5px 0px 2.5px 0px;	
	width: 280px;
	text-indent: 10px;
}
