@import '../../lib.less';
@buke-color: #8175C7;
@shiting-color: #FBB323;

.sign_by_stu_cont {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.schedule_sign_item {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
}

.title_and_people {
    background-color: #EEE;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 16px;
    color: #666;
    position: relative;
}

.class_name_text {
    float: left;
}

.tea_num_cont {
    position: absolute;
    left: 42%;
}

.stu_num_cont {
    float: right;
}

.schedule_content {
    background-color: #FFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.schedule_line_item {
    width: 100%;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #999;
}

.schedule_type {
    color: @shanshan-main-color;
}

.line_item_left_cont {
    float: left;
}

.line_item_right_cont {
    float: right;
}

.bar_cont {
    margin-top: 10px;
    text-align: right;
}

.schedule_btn {
    margin-left: 10px;
}

.schedule_btn_group {
    display: inline-block;
}

.today_no_schedule_text {
    text-align: center;
    font-size: 16px;
    color: #999;
}
