:global{
    .yhwu_wx_modal_content{
        height : 440px;
    }
    .yhwu_wx_modal_content .ant-modal-content{
        height : 440px;
    }
    .yhwu_wx_modal_content .wxcode_code{
        margin : auto;
        margin : 20px auto 0;
        width : 220px;
        height : 220px;
    }
    .yhwu_wx_modal_content .wxcode_footer{
        height : 90px;
		margin-left : 33px;
    }
    .yhwu_wx_modal_content .wxcode_footer_item{
        font-size : 14px;
        line-height : 20px;
    }
}
