.yiguanzhu {
	font-size: 25px;
	color: #108ee9;
}

.noguanzhu {
	font-size: 25px;
}

.yiguanzhu:hover {
	font-size: 25px;
}

.noguanzhu:hover {
	font-size: 25px;
}

.studying,.classSuspend,.classEnd,.waitingForClass{
    position : relative;
    display : inline-block;
    width : 46px;
    height : 24px;
    line-height : 24px;
    text-align : center;
    color : #fff;
    background : #5D9CEC;
    border-radius : 4px;
}
.classSuspend,.classEnd,.waitingForClass{
    background : #DDDDDD;
}
.classSuspendTip{
    position : absolute;
    top : -6px;
    right : -6px;
    width : 14px;
    height : 14px;
    line-height : 14px;
    border-radius : 50%;
    color : #fff;
    text-align : center;
    background : #C20D0D;

}
