/*引入less定义的方法*/
@import '../../../common/less/common.less';

.report_form_top_header{
	position : relative;
	height : 50px;
	line-height : 50px;
	//border-bottom : 4px solid @saas_main_color;
	font-size : 14px;
}
.top_header_orgName{
	display : inline-block;
	margin-right : 30px;
}
.top_header_orgName_label{
	margin-right : 10px;
	color : #666;
}
.top_header_clear{
	margin-left : 20px;
}
.top_header_select{
	display : inline-block;
	margin-right : 20px;
}
.export_btn{
	position : absolute;
	right : 10px;
	top : 10px;
	background : #88c702;
	border : 1px solid #88c702;
	color : #fff;
}
.export_btn:hover{
	background : #88c702;
	border : 1px solid #88c702;
	color : #fff;
}
.export_btn_vip{
    position : absolute;
	right : 160px;
	top : 10px;
	background : #FBB323;
	border : 1px solid #FBB323;
	color : #fff;
}
.export_btn_vip:hover{
	background : #FBB323;
	border : 1px solid #FBB323;
	color : #fff;
}
.org{
    display : inline-block;
	margin-right : 10px;
}

.report_form_top_total{
    width: 100%;
    margin: 10px 0;
    height:100px;
    border: 1px solid #ccc;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y:hidden;

}
.report_form_top_total_title{
    width:100%;
    height: 50px;
		display: flex;
}
.report_form_top_total_date{
    width:100%;
		height: 50px;
		display: flex;
}
.report_form_top_total_title li{
    background: #f5f6f8;
}
.report_form_top_total_title li,.report_form_top_total_date li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
		display:inline-block;
		flex: 1;
		min-width: 100px;
}


