:global {
	.sign_base {
		height : 100%;
		background: white;
		border-radius: 5px;
		margin: 10px;
	}
	
	.sign_wrap_class_name .ant-modal {
		width: 600px!important;	
	}
	
	.sign_wrap_class_name .ant-modal-content {
		border-radius: 10px;
    	overflow: hidden;
		height : 700px;
	}
	
	.sign_wrap_class_name .ant-modal-content .ant-modal-footer {
		border-top : 0;
	}
	
	.sign_wrap_class_name .ant-modal-body {
		padding : 30px 10px 30px 30px;
	}
	
	.sign_wrap_class_name .ant-form .ant-row .ant-col-4 {
		width : 15%;
	}
	
	.sign_wrap_class_name .ant-form .ant-row .ant-col-9 {
		width : 80%;
	}
	
	.sign_wrap_class_name .ant-form-item-label {
		text-align: left;
	}
	
	.sign_wrap_class_name .ant-form-item-label label {
		color : #666666;
	}
	
	.sign_wrap_class_name .ant-form .ant-row .ant-col-9 .ant-form-item-control  {
		text-align: center;
	}
	
	.sign_wrap_class_name .ant-form .ant-row .ant-col-9 .ant-form-item-control .ant-select-lg .ant-select-selection--single  {
		text-align: center;
		height : 28px;
	}
	
	.sign_wrap_class_name .ant-form .ant-row .ant-col-9 .ant-form-item-control .ant-select-lg .ant-select-selection__rendered  {
		text-align: center;
		height : 28px;
	}
	
	.sign_wrap_class_name .sign_detail_div .ant-radio-inner {
		border-radius : 0px;
	}

	.sign_wrap_class_name .sign_modal_base_div .ant-modal .ant-modal-content .ant-modal-body .sign_detail_div .ant-form .ant-row .ant-col-15 .ant-form-item-control .select_group_div .ant-radio-group  {
		float: left;
	}
	.sign_wrap_class_name .sign_modal_base_div .ant-modal .ant-modal-content .ant-modal-body .sign_detail_div .ant-form .ant-row .ant-col-15 .ant-form-item-control .select_group_div .ant-radio-group .consumption {
		float: left;
	}
	
	.base_content {
		height: 590px;
		width: 100%;
		background: #ffffff;
	}
	
	.sign_detail_div {
		margin-top: 20px;
		height: 600px;
		overflow: auto;
		margin-bottom: 10px;
	}
}	

.list_base_div {
	height : 70px;
	background: rgb(250,251,252);
	margin: 10px 5px 20px 0px;
	clear : left;
	border: 1px rgb(220,221,222) solid;
	border-radius : 5px;
}

.list_title {
	font-size: 15px;
	width: 80%;
	padding: 5px 5px 5px 20px;
	margin-top: 5px;
	height: 30px;
    overflow: hidden;
}

.list_teacherName {
	font-size: 12px;
    padding: 0px 0px 0px 20px;
	float: left;
	overflow: hidden;
	height: 20px;
    width: 64%;
}

.list_studentNum {
	float: left;
	width: 100px;
    margin-left: 20px;
	font-size: 12px;
	height: 20px;
    width: 10%;
}

.clearance_line {
    height: 1px;
    background: #eeeeee;
    width: 97.5%;
    float: left;
    margin-bottom: 20px;
}

.clearance {
	width: 100%;
    height: 10px;
    float: left;
}

.sign {
    width: 14%;
    float: right;
    line-height: 20px;
    font-size: 12px;
    background: rgb(98,158,241);
    margin-top: 19px;
    margin-right: 10px;
    text-align: center;
	border: 0;
	color : white;
}

.list_packaging  {
	float: left;
    height: 450px;
    width: 100%;
    overflow: auto;
	margin-bottom: 20px;
}

.list_packaging:vertical {
	background: red;
}

.list_packaging_narrow {
	float: left;
    height: 450px;
    width: 97.5%;
    overflow: auto;
	margin-bottom: 20px;
}

.consumptionCourse {
	float : right;
}

.consumption {
	line-height: 34px;
	float: left;
	margin-right: 10px;
}

.saveButton {
	text-align: center;
}