:global{
    .stu_management_visiting_plan_addedit_modal .ant-modal-body{
        max-height: 500px;
        padding: 0;
        margin: 20px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .stu_management_visiting_plan_addedit_modal .ant-modal-footer{
        margin: 0;
        padding : 0 20px 20px 20px;
    }
    .stu_management_visiting_plan_addedit_modal .ant-form-item{
        margin-bottom: 10px;
        margin-left: -15px;
        &:last-child{
            margin-bottom:0;
        }
    }
}
