.contractOrder_import_modal {
  :global {
    .ant-modal-body {
      padding: 20px 20px 0 20px;
    }
    .ant-modal-footer {
      margin: 0;
      padding: 0 20px 20px 20px;
    }
    .ant-steps {
      margin-bottom: 30px;
    }
    .ant-tabs-bar {
      display: none;
    }
  }
}

.steps {
  width: 90%;
  margin: 0 auto;
}
