/*引入less定义的方法*/
@import '../../../../common/less/common.less';

:global{
    .leads_import_modal .ant-modal-body{
        padding: 20px 20px 0 20px;
    }
    .leads_import_modal .ant-modal-footer{
        margin: 0;
        padding: 20px;
    }
    .leads_import_modal .ant-steps{
        margin-bottom: 30px;
    }
    .leads_import_modal .ant-tabs-bar{
        display: none;
    }
}
.steps{
    width:80%;
    margin:0 auto;
}
