.left_img_bg {
	height : 72px;
	width : 72px;
	background: #5fbeaa;
    position: absolute;
    bottom: 0px;
    top: 0px;
    margin: auto;
    left: 15%;
	border-radius: 36px;
    overflow: hidden;
}

.left_img {
	height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0px;
    top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	background-size: cover;
    background-repeat: no-repeat;
	font-size: 40px;
}

.left_title {
    position: absolute;
    right: 60px;
    height: 100%;
	text-align: right;
}

.left_title_p1 {
    font-size: 48px;
    margin-top: 18px;
    width: 120px;
    font-weight: 600;
    height: 55px;
	color : #666666;
}

.left_title_p2 {
	font-size: 16px;
	margin-top: 14px;
	color : #666666;
}

//@media screen and (max-width: 960px){
//	.left_img_bg {
//		height : 50px;
//		width : 50px;
//		background: #5fbeaa;
//		position: absolute;
//		bottom: 0px;
//		top: 0px;
//		margin: auto;
//		left: 10%;
//		border-radius: 36px;
//		overflow: hidden;
//	}
//	
//	.left_title {    
//		position: absolute;
//		height: 100%;
//		text-align: right;
//		right : 20px;
//	}
//	
//	.left_title_p1 {
//		font-size: 30px;
//		margin-top: 40px;
//		width: 120px;
//		font-weight: 600;
//		height: 55px;
//		color : #666666;
//	}
//	
//	.left_title_p2 {
//		font-size: 12px;
//		color : #666666;
//		margin-top : 0px;
//	}
//}
