
:global{
    .contractOrder_import_modal .ant-modal-body{
        padding: 20px 20px 0 20px;
    }
    .contractOrder_import_modal .ant-modal-footer{
        margin: 0;
        padding: 0 20px 20px 20px;
    }
    .contractOrder_import_modal .ant-steps{
        margin-bottom: 30px;
    }
    .contractOrder_import_modal .ant-tabs-bar{
        display: none;
    }
}
.steps{
    width:90%;
    margin:0 auto;
}
