.module_form_page {
    width: 100%;
    height: 100%;
}

.module_prev_cont {
    height: 100%;
    display: inline-block;
    float: left;
    background-color: #BBB;
    position: relative;
    overflow: hidden;
}

.module_show_cont {
    height: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-color: #F1F1F1;
}

.module_show_content {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: -5px;
    overflow: auto;
    padding-left: 14%;
}

.module_bar_cont {
    height: 100%;
    float: right;
    display: inline-block;
    background-color: #FFF;
}
