@import '../../common/less/common.less';
:global {
    .zj_stu_attendance_print_small_ticket .ant-modal-body{
        height : 550px;
        padding : 20px 20px 0 20px;
        overflow-y : auto;
        overflow-x : hidden;
        .scrollbar();
    }
    .zj_stu_attendance_print_small_ticket .ant-modal-footer{
        margin : 0;
        padding : 20px;
        display : -webkit-flex;
        display : flex;
        flex-wrap : nowrap;
        justify-content : flex-end;
        align-items : center;
    }
    .zj_stu_attendance_print_small_ticket .ant-form-item{
        margin-bottom: 10px;
    }
    .zj_stu_attendance_print_small_ticket .ant-checkbox-group-item{
        display : -webkit-flex;
        display : flex;
        flex-wrap : nowrap;
        align-items : center;
        margin-right : 0;
        margin-bottom : 10px;
        padding-bottom : 10px;
        border-bottom : 1px solid #ddd;
    }
}
.all{
    width : 100%;
}
.teacher_area{
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    >div{
        width: 50%;
    }
}
.block_help{
    margin-right : 15px;
}
.status_legend{
    display : -webkit-flex;
    display : flex;
    flex-wrap : nowrap;
    justify-content : center;
    align-items : center;
    margin-bottom : 5px;
    div{
        margin-right: 20px;
        display : -webkit-inline-flex;
        display : inline-flex;
        flex-wrap : nowrap;
        align-items : center;
        &:last-child{
            margin-right : 0;
        }
    }
}
.common_icon{
    margin-right : 5px;
    font-weight : 600
}
.checkbox_item{
    width : 490px;
    display : -webkit-inline-flex;
    display : inline-flex;
    flex-wrap : nowrap;
    justify-content : space-between;
    align-items : center;
    span{
        margin-right : 5px;
    }
}
.sdfsdfsd{
    margin-bottom: 20px;
}
