
:global{
    .create_or_update_deposit .ant-modal-body{
        padding : 20px;
        max-height: 500px;
    }
    .create_or_update_deposit .ant-modal-footer{
        padding : 0 20px 20px 20px;
        margin : 0;
    }
    .create_or_update_deposit .ant-form-item{
        margin-left: -10px;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
