p{
	margin : 0;
	padding : 0;
}
@baseFontSize     : 14px;
@baseColor        : #ffffff;
@basePadding      : 10px;
@baseMargin       : 10px;
@baseLineHeight   : 20px;
@baseBorderRadius : 4px;
.borderRadius{
	border-radius : 50%;
	overflow      : hidden;
}
.absolute( @width, @height, @top, @left ){
	position : absolute;
	width    : @width;
	height   : @height;
	top      : @top;
	left     : @left;
}
.transform( @value ){
	transform : translateY( @value );
	-webkit-transform : translateY( @value );
	-moz-transform : translateY( @value );
	-ms-transform : translateY( @value );
	-o-transform : translateY( @value );
}
.background( @width : 319px, @height, @url, @size : cover ){
	width : @width;
	height : @height;
	background : url( @url );
	background-size : @size;
}
.animation_value( @value ){
	animation : @value;
	-webkit-animation : @value;
	-moz-animation : @value;
	-ms-animation : @value;
	-o-animation : @value;
}
.title{
	width : 260px;
	margin : 0 auto;
	height : 70px;
	line-height : 80px;
	font-size : 22px;
	color : #666666;
	font-weight : bold;
	text-align : center;
	overflow : hidden;
}

/*第一页动画开始*/
.cloud{
	.absolute( 35px, 27px, 30px, 10px );
	.background( 35px, 27px, 'http://115.29.172.104/gimg/img/9c87d488fbd94bc239f166da8641c0b7' );
	.animation_value( cloud_ani 6s infinite );
}
@keyframes cloud_ani{
	0%{ left : 10px }
	20%{ left : 40px }
	25%{ left : 36px }
	50%{ left : 72px }
	70%{ left : 40px }
	75%{ left : 40px }
	100%{ left : 10px }
}
.school_bus{
	.absolute( 135px, 53px, 440px, 350px );
	.background( 135px, 53px, 'http://115.29.172.104/gimg/img/8aac88552217869a246458cb692ab92c' );
	.animation_value( school_bus_ani 4s infinite );
}
@keyframes school_bus_ani{
	0%{ left : 350px }
	30%{ left : 200px; transform : rotate( -3deg )}
	40% { transform: rotate( 5deg ) }
	50%{ transform : rotate( 0deg ) }
	100% { left : -150px }

}
.yellow_winnower{
	&:before{
		content : '';
		.absolute( 6px, 26px, 343px, 255px, );
		.background( 6px, 26px, 'http://115.29.172.104/gimg/img/f828c5f168da3efd1edf6d1268b3d552', 100% 100% );
		background-repeat : no-repeat;
	}
	&:after{
		content : '';
		.absolute( 35px, 35px, 320px, 240px );
		.background( 35px, 35px, 'http://115.29.172.104/gimg/img/058663d1a3c71fca00e7de1e235a9edb' );
		transform : rotate( 0deg );
		animation : winnower_ani linear .4s infinite forwards;
	}
}
.red_winnower{
	&:before{
		content : '';
		.absolute( 6px, 60px, 320px, 295px, );
		.background( 6px, 60px, 'http://115.29.172.104/gimg/img/f828c5f168da3efd1edf6d1268b3d552', 100% 100% );
		background-repeat : no-repeat;
	}
	&:after{
		content : '';
		.absolute( 45px, 45px, 298px, 275px );
		.background( 45px, 45px, 'http://115.29.172.104/gimg/img/706a7d28bf54304525b22dcfe2779860' );
		transform : rotate( 0deg );
		animation : winnower_ani linear .7s infinite forwards;
	}
}
@keyframes winnower_ani{
	0%{ transform : rotate( 0deg ) }
	100% { transform : rotate( 360deg ) }
}
/*第一页动画结束*/
/*第二页动画开始*/
.pendant1{
	.absolute( 24px, 72px, 20px, 223px );
	.background( 24px, 72px, 'http://115.29.172.104/gimg/img/2828e4eb0951148f59f1620a8a2bcf4e' );
	.animation_value( pendant_ani linear 8s infinite );
	transform-origin : 50% 0%;
}
.pendant2{
	.absolute( 24px, 54px, 25px, 253px );
	.background( 24px, 54px, 'http://115.29.172.104/gimg/img/6b21f3f562e3ed3acb86df39b9baa7a0' );
	.animation_value( pendant_ani linear 8s infinite );
	transform-origin : 50% 0%;
}
@keyframes pendant_ani{
	0%{ transform : rotate( 0deg ) }
	16%{ transform : rotate( 30deg ) }
	48%{ transform : rotate( -30deg ) }
	80%{ transform : rotate( 30deg ) }
	100%{ transform : rotate( 0deg ) }
}
.flower1{
	.absolute( 26px, 32px, 85px, 255px );
	.background( 26px, 32px, 'http://115.29.172.104/gimg/img/02366c78ac1b07763bc34fc54b8d227d' );
	.animation_value( flower_ani 3s infinite );
	transform-origin : 50% 100%;
}
.flower2{
	.absolute( 26px, 32px, 95px, 280px );
	.background( 26px, 32px, 'http://115.29.172.104/gimg/img/02366c78ac1b07763bc34fc54b8d227d' );
	.animation_value( flower_ani 4s infinite );
	transform-origin : 50% 100%;
}
@keyframes flower_ani{
	0%{ transform : rotate( 5deg ) }
	50%{ transform : rotate( -5deg ) }
	100%{ transform : rotate( 5deg ) }
}
/*第二页动画结束*/
/*第三页动画开始*/
.giraffe{
	.absolute( auto, auto, 60px, 132px );
	.background( 32px, 58px, 'http://115.29.172.104/gimg/img/c19116523847ab2c36af588a4adfdef2' );
	&::before{
		content : '';
		.absolute( auto, auto, -11px, -6px );
		.background( 18px, 26px, 'http://115.29.172.104/gimg/img/c5b77bdb77cbf43b5dddd2354b2cd63f' );
		.animation_value( giraffe_ani 6s infinite );
	}
	@keyframes giraffe_ani{
		0%{ transform : rotate( 0deg ) }
		40%{ transform : rotate( 20deg ) }
		80%{ transform : rotate( 0deg ) }
		100%{ transform : rotate( 0deg ) }
	}
}
/*第三页动画结束*/
/*第四页动画开始*/
.sun{
	.absolute( auto, auto, 10px, 50px );
	.background( 35px, 35px, 'http://115.29.172.104/gimg/img/7ff252fdc63ed5e3951945c572b131b9' );
	.animation_value( sun_ani linear 4s infinite );
}
@keyframes sun_ani{
	0%{ transform : rotate( 0deg ) }
	100% { transform : rotate( 360deg ) }
}
.boat{
	.absolute( 100px, 85px, 10px, 150px );
	&::before{
		content : '';
		.absolute( auto, auto, 0, 30px );
		.background( 88px, 85px, 'http://115.29.172.104/gimg/img/ac3186e4a6ad35517466fd48ab39a177' );
		z-index : 2;
	}
	&::after{
		content : '';
		.absolute( auto, auto, 3px, 23px );
		.background( 103px, 50px, 'http://115.29.172.104/gimg/img/f0f29d019423fc6bf9a1f037630fd1d3' );
		transform : rotate( 30deg );
		transform-origin : 50% 0%;
		z-index : 1;
		animation : boat_ani 3s infinite alternate;
	}
	@keyframes boat_ani{
		0%{ transform : rotate( 25deg ) }
		100%{ transform : rotate( -20deg ) }
	}
}
.fish{
	.absolute( auto, auto, 60px, 75px );
	.background( 100px, 58px, 'http://115.29.172.104/gimg/img/58f9ff0363ed3586039776be465c0f58' );
	.animation_value( fish_ani 8s infinite );
}
@keyframes fish_ani{
	0%{ transform : translateY( 0 ) }
	50%{ transform : translateY( -15px ) }
	100%{ transform : translateY( 0 ) }
}
.balloon1{
	.absolute( auto, auto, 60px, 220px );
	.background( 12px, 33px, 'http://115.29.172.104/gimg/img/6a35b4a8c571a9368a4cf1c10291169d' );
	.animation_value( balloon_ani linear 9s infinite );
}
.balloon2{
	.absolute( auto, auto, 60px, 250px );
	.background( 24px, 60px, 'http://115.29.172.104/gimg/img/52bf52e08930e8a96540e328e432c56f' );
	.animation_value( balloon_ani linear 9s infinite );
}
@keyframes balloon_ani{
	0%{ top : 60px }
	100%{ top : -300px }
}
.wave{
	.absolute( auto, auto, 113px, 100px );
	.background( 63px, 5px, 'http://115.29.172.104/gimg/img/e495b0abf84137f51367f7e38e7198c6' );
}
/*第四页动画结束*/
/*第五页动画开始*/
.mushRoom{
	.absolute( auto, auto, 60px, 25px );
	.background( 45px, 45px, 'http://115.29.172.104/gimg/img/e8404aca3b109f4e38bc8c172c632ca1' );
	.animation_value( mushRoom_ani linear 3s infinite alternate );
	z-index : 3;
	transform-origin : 50% 100%;
}
@keyframes mushRoom_ani{
	0%{ transform : rotate( -10deg ) }
	100%{ transform : rotate( 10deg ) }
}
.sun_flower{
	.absolute( auto, auto, -38px, 225px );
	.background( 80px, 90px, 'http://115.29.172.104/gimg/img/2ceda9a80e3a35c46dc49db1120d26a6' );
	.animation_value( sun_flower_ani linear 3.5s infinite alternate );
	transform-origin : 50% 100%;
}
@keyframes sun_flower_ani{
	0%{ transform : rotate( -5deg ) }
	100%{ transform : rotate( 5deg ) }
}
.animals{
	.absolute( auto, auto, -65px, 10px );
	.background( 85px, 95px, 'http://115.29.172.104/gimg/img/12294f701b121f0c9f94861b462b7fcd' );
	.animation_value( animals_ani ease-in-out 3s infinite alternate );
	transform-origin : 50% 100%;
}
@keyframes animals_ani{
	0%{ transform : rotate( 0deg ) }
	100%{ transform : rotate( 6deg ) }
}
/*第五页动画结束*/
/*第六页动画开始*/
.car{
	.absolute( auto, auto, 78px, 85px );
	.background( 72px, 55px, 'http://115.29.172.104/gimg/img/e49e41edcdc907e131175c02e1ea321d' );
	.animation_value( car_ani linear 8s infinite alternate );
	&::before{
		content : '';
		.absolute( auto, auto, 36px, 10px );
		.background( 18px, 18px, 'http://115.29.172.104/gimg/img/b5c423814cddbdff326c2709ead571ae' )
	}
	&::after{
		content : '';
		.absolute( auto, auto, 36px, 32px );
		.background( 18px, 18px, 'http://115.29.172.104/gimg/img/b5c423814cddbdff326c2709ead571ae' )
	}
}
@keyframes car_ani{
	0%{ left : 85px }
	50%{ left :  165px }
	100%{ left :  85px }
}
/*第六页动画结束*/
/*第七页动画开始*/
.person1{
	p{
		content : '';
		.absolute( auto, auto, 60px, 50px );
		.background( 58px, 70px, 'http://115.29.172.104/gimg/img/b46316e2164919bd1956ec61f4540c88' );
		z-index : 2;
		.animation_value( person_ani linear 2.5s infinite alternate );
		transform-origin : 50% 100%;
	}
	&::after{
		content : '';
		.absolute( auto, auto, 125px, 70px );
		.background( 50px, 18px, 'http://115.29.172.104/gimg/img/f6ef24a88a841f458aaa157e04fd43b7' );
		z-index : 1;
	}
}
.person2{
	p{
		content : '';
		.absolute( auto, auto, 25px, 110px );
		.background( 58px, 90px, 'http://115.29.172.104/gimg/img/3974d92fa6e152bd4f55d0667f44418f' );
		z-index : 2;
		.animation_value( person_ani linear 2.5s infinite .5s alternate );
		transform-origin : 50% 100%;
		&::before{
			content : '';
			.absolute( auto, auto, -18px, 0 );
			.background( 35px, 35px, 'http://115.29.172.104/gimg/img/f60b683e211f5209a7915faaa0dfe7d7' );
			z-index : 3;
			.animation_value( fengche_ani linear 1s infinite );
		}
	}
	&::after{
		content : '';
		.absolute( auto, auto, 108px, 110px );
		.background( 50px, 18px, 'http://115.29.172.104/gimg/img/31889363c5e16b675a3ceaf1ea7e07fe' );
		z-index : 1;
	}
}
.person3{
	p{
		content : '';
		.absolute( auto, auto, 20px, 172px );
		.background( 54px, 75px, 'http://115.29.172.104/gimg/img/91249744dfdaa78a18de26083aabaf88' );
		z-index : 2;
		.animation_value( person_ani linear 2.5s infinite 1s alternate );
		transform-origin : 50% 100%;
	}
	&::after{
		content : '';
		.absolute( auto, auto, 88px, 170px );
		.background( 60px, 10px, 'http://115.29.172.104/gimg/img/09bb5e25e281e3e66f99ee086e2cbb55' );
		z-index : 1;
	}
}
.person4{
	p{
		content : '';
		.absolute( auto, auto, 12px, 240px );
		.background( 54px, 75px, 'http://115.29.172.104/gimg/img/5bf3292e2a9f2f16a58ea48a3afa8619' );
		z-index : 2;
		.animation_value( person_ani linear 2.5s infinite alternate );
		transform-origin : 50% 100%;
		&::before{
			content : '';
			.absolute( auto, auto, -18px, 20px );
			.background( 35px, 35px, 'http://115.29.172.104/gimg/img/5105c576b0073f9dce1572a384e4d01a' );
			z-index : 3;
			.animation_value( fengche_ani linear 1s infinite );
		}
	}
	&::after{
		content : '';
		.absolute( auto, auto, 81px, 236px );
		.background( 53px, 10px, 'http://115.29.172.104/gimg/img/03f31056536fdcc8ab77041001f16b85' );
		z-index : 1;
	}
}
@keyframes person_ani{
	0%{ transform : rotate( -5deg ) }
	100%{ transform : rotate( 5deg ) }
}
@keyframes fengche_ani{
	0%{ transform : rotate( 0deg ) }
	100%{ transform : rotate( 360deg ) }
}
/*第七页动画结束*/
:global{
	.summer_camp_wrap{
		.absolute( 326px, 525px, 150px, 26px );
		overflow-x: hidden;
		overflow-y: auto;
		background: #ffffff;
	}
	.page_one{
		.background( 319px, 525px, 'http://115.29.172.104/gimg/img/2f114beca01f02074c6c1dddfe77c92d' );
		.head_img{
			.absolute( 90px, 90px, 20px, 110px );
			.borderRadius;
			img{
				width : 100%;
				height : 100%;
			}
		}
		.header{
			.absolute( 235px, auto, 130px, 42px );
			padding : @basePadding * 1.5 4px;
			color : @baseColor;
			text-align : center;
			font-weight : bold;
			&:before{
				.absolute( 235px, 4px, 0, 0 );
				content : '';
				background : @baseColor;
			}
			&:after{
				.absolute( 235px, 4px, auto, 0 );
				bottom : 0;
				content : '';
				background : @baseColor;
			}
			.subTitle, .headTitle, .orgTitle{
				overflow : hidden;
			}
			.subTitle, .orgTitle, .actiTime{
				font-size : 15px;
				line-height : 20px;
				height : 20px;
				overflow : hidden;
			}
			.orgTitle{
				height : 28px;
				line-height : 28px;
			}
			.headTitle{
				font-size : 36px;
				line-height : 46px;
				height : 50px;
			}
		}
	}
	.page_two{
		position : relative;
		.page_two_top{
			.background( 319px, 51px, 'http://115.29.172.104/gimg/img/8835687bfd49f6fb24bcdf2915b76913', 100% );
		}
		.page_two_middle{
			.background( 319px, auto, 'http://115.29.172.104/gimg/img/2f137a152a5967b6b83f623fae3efbc4', 100% );
			.head_title{
				.title;
			}
			.content{
				width : 250px;
				margin : 0 auto;
				line-height : 24px;
				font-size : @baseFontSize;
				color : #666666;
				padding-bottom : 30px;
			}
		}
		.page_two_bottom{
			.background( 319px, 144px, 'http://115.29.172.104/gimg/img/df9ddb6bae70d825fab140f2bba86387', 100% );
			position : relative;
		}
	}
	.page_three{
		.page_three_top{
			.background( 319px, 20px, 'http://115.29.172.104/gimg/img/3a2c16ae5f0602f9d0ec21a7eaa9c693', 100% )
		}
		.page_three_middle{
			.background( 319px, auto, 'http://115.29.172.104/gimg/img/70348027c8e41ab0729f15afbd616767', 100% );
			padding-bottom : 30px;
			.head_title{
				.title;
				height : 80px;
				color : #89CD2C;
			}
			.content{
				position : relative;
				width : 260px;
				height : 66px;
				border-radius : 33px;
				border : 3px solid #7CB727;
				margin : 0 auto 20px;
				.con_label{
					.absolute( 61px, 62px, -1px, -1px );
					padding : 8px;
					border-radius : 50%;
					background : #7CB727;
					font-size : 16px;
					text-align : center;
					color : @baseColor;
					overflow : hidden;
					display : flex;
					justify-content : center;
					align-items : center;
					p{
						max-height : 45px;
						width : 100%;
					}
				}
				.con_value{
					position : relative;
					width  : 172px;
					height : 60px;
					margin-left : 70px;
					line-height : 20px;
					font-size : @baseFontSize;
					color : #7CB727;
					overflow : hidden;
					p{
						.absolute( 172px, auto, 50%, 0 );
						.transform( -50% );
						max-height : 60px;
					}
				}
			}
			.content2{
				border-color : #23A6F8;
				.con_label{
					background : #23A6F8;
					left : 194px;
				}
				.con_value{
					color : #23A6F8;
					margin-left : 20px;
				}
			}
			.content3{
				margin-bottom : 0;
				border-color : #7375CA;
				.con_label{
					background : #7375CA;
				}
				.con_value{
					color : #7375CA;
				}
			}
		}
		.page_three_bottom{
			.background( 319px, 126px, 'http://115.29.172.104/gimg/img/4cfbf673ecb6caf42bcb539348f378be', 100% );
			position : relative;
		}
	}
	.page_four{
		.page_four_top{
			.background( 319px, 20px, 'http://115.29.172.104/gimg/img/d1acd31aa03598b42d9e9aba40d3acd0', 100% );
		}
		.page_four_middle{
			.background( 319px, auto, 'http://115.29.172.104/gimg/img/ca69d1ab4e621976e27e69dfb36b7607', 100% );
			position : relative;
			padding-bottom : 30px;
			.head_title{
				.title;
				height : 80px;
				color : #8ACC2C;
			}
			.content{
				margin : 0 auto;
				width : 250px;
				position : relative;
				.arrow{
					.absolute( auto, auto, 0, 116px );
					.background( 18px, 18px, 'http://115.29.172.104/gimg/img/49d6284edb8f598e8455bb03aaae6163' )
				}
				.modal{
					.absolute( auto, auto, -2px, 0px );
					.background( 115px, 50px, 'http://115.29.172.104/gimg/img/d2699664752964bcba5484fd1b5e1bbb', 100% 100% );
					background-repeat : no-repeat;
					display : flex;
					justify-content : center;
					align-items : center;
					padding : 3px 5px;
					font-size : 14px;
					text-align : center;
					color : #fff;
					p{
						max-height : 40px;
						width: 115px;
						overflow: hidden;
					}
				}
				&::before{
					content : '';
					display : block;
					width : 3px;
					height : 52px;
					margin : 0 auto;
					background : #EBD027;

				}
			}
			.content2{
				.arrow{
					background-image : url('http://115.29.172.104/gimg/img/32d8f66168be47835d4efdbb4fb8ef80');
				}
				.modal{
					background-image : url('http://115.29.172.104/gimg/img/4a2f126ea7cd16504c2e64522c5c055e');
					left : 135px;
					padding-left : 10px;
				}
			}
			.content:last-child{
				&::before{
					background : transparent;
				}
			}
		}
		.page_four_bottom{
			.background( 319px, 149px, 'http://115.29.172.104/gimg/img/517a6e7730554076ebf8d35f676ed267', 100% );
			position : relative;
		}
	}
	.page_five{
		.page_five_top{
			.background( 319px, 20px, 'http://115.29.172.104/gimg/img/d56e9e22a9fb84c212520531fbab8f44', 100% );
		}
		.page_five_middle{
			.background( 319px, auto, 'http://115.29.172.104/gimg/img/fc8fcb970a317642fda8d0511edd0135', 100% );
			padding-bottom : 100px;
			.head_title{
				.title;
				color : #666;
			}
			.content{
				width : 240px;
				margin : 0 auto;
				font-size : 14px;
			}
		}
		.page_five_bottom{
			.background( 319px, 114px, 'http://115.29.172.104/gimg/img/f2fe6fe05f4f2bddcf54edc4205be5cc', 100% );
			position : relative;
			.mushroom{
				.absolute( auto, auto, -20px, 25px );
				.background( 100px, 110px, 'http://115.29.172.104/gimg/img/ea9177a8c3403a13ef9646837d0dbcd9' );
				z-index : 1;
			}
		}
	}
	.page_six{
		.page_six_top{
			.background( 319px, 15px, 'http://115.29.172.104/gimg/img/256f7606c042f8d263556bfc11aea089', 100% );
		}
		.page_six_middle{
			.background( 319px, auto, 'http://115.29.172.104/gimg/img/c09906cb4a69b597cf1951ce06e5b5e1', 100% );
			padding-bottom : 20px;
			.head_title{
				.title;
				color : #666;
			}
			.org_img{
				width : 260px;
				height : 140px;
				margin : 0 auto 20px;
				border-radius : @baseBorderRadius;
				background-size : cover;
				background-repeat : no-repeat;
				background-position : center center;
				overflow : hidden;
			}
			.org_img_last{
				margin-bottom : 0;
			}
		}
		.page_six_bottom{
			.background( 319px, 148px, 'http://115.29.172.104/gimg/img/76023fbdaf2d9f0fa025b78fcee3693e', 100% );
			position : relative;
		}
	}
	.page_seven{
		.page_seven_top{
			.background( 319px, 20px, 'http://115.29.172.104/gimg/img/c12e24c19a64e18e2e6cb4687af424d8', 100% );
		}
		.page_seven_middle{
			.background( 319px, auto, 'http://115.29.172.104/gimg/img/5aae6a1ccedbc410cb41dc4cf9aa4a41', 100% );
			padding-bottom : 30px;
			.head_title{
				.title;
				color : #666;
			}
			.content{
				background : #EBEDE8;
				margin : 0 auto 20px;
				width : 250px;
				height : 35px;
				line-height : 35px;
				border-radius : @baseBorderRadius;
				text-align : center;
				color : #999;
			}
			.btn{
				background : #F1AE17;
				height : 40px;
				line-height : 40px;
				margin-bottom : 0;
				color : #fff;
				font-size : 14px;
			}
		}
		.page_seven_bottom{
			.background( 319px, 148px, 'http://115.29.172.104/gimg/img/ba1a23202f08264d55734a0cd1669aba', 100% );
			position : relative;
		}
	}
}
