.right_all{
    height : 100%;
    width : 100%;
}
.right_explain{
    height : 30px;
    width : 100%;
}
.right_explain_span{
    margin-right : 30px;
}
.right_table{
    height : calc(~'100% - 30px');
    width : 100%;
}
