:global {
    .common_manager_list_search_cont {
        width: 100%;
        padding: 15px 20px 0 20px;
        border: 1px solid #DDD;
        background-color: #F5F5F5;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .common_manager_list_search_cont .ant-form-item-label label {
        font-size: 14px;
        color: #666;
    }

    .common_manager_list_search_cont .ant-form-inline .ant-form-item {
        margin-right: 40px;
        line-height: 35px;
    }

}

.search_btns_temp {
    display: inline-block;
    width: 160px;
    height: 50px;
}

.search_btns {
    float: right;
    line-height: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
}

.search_btn_item:first-child {
    margin-right: 10px;
}

.search_btn_clear {
    background-color: #FFF;
    border-color: #FFF;
    color: #666;
}

.search_btn_clear:hover {
    background-color: #FFF;
    border-color: #FFF;
    color: #666;
    opacity: 0.8;
}
