:global {
    .common_manager_list_status_tab_cont {
        margin-bottom: 10px;
    }

    .common_manager_list_status_tab_cont .ant-radio-button-wrapper {
        color: #666;
        font-size: 14px;
        text-align: center;
    }

    .common_manager_list_status_tab_cont .ant-radio-button-wrapper:hover {
        opacity: 0.8;
    }

    .common_manager_list_status_tab_cont .ant-radio-button-wrapper-checked {
        color: #FFF;
        background-color: #5D9CEC;
        border-color: #5D9CEC;
    }
}

.common_manager_list_cont {
    padding: 20px;
    padding-bottom: 40px;
}

.common_manager_list_cont_css {
	padding: 0px;
}

/*功能区*/
.bar_cont {
    width: 100%;
    margin-bottom: 20px;
}

/*功能按钮区*/
.handle_bar_cont {
    width: 100%;
    height: 28px;
}

/*左侧功能*/
.left_handle_bars {
    display: inline-flex;
    float: left;
}

/*功能标题*/
.handle_bar_label {
    margin-right: 10px;
    font-size: 14px;
    color: #666;
    height: 28px;
    line-height: 28px;
}

/*工具栏  功能按钮*/
.handle_btn_item {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin-right: 10px;
}

/*右侧功能按钮*/
.right_handle_bars {
    display: inline-flex;
    float: right;
}
