.search_form{
    width:100%;
    height:68px;
    padding:20px;
    border:1px solid #ddd;
    border-radius: 10px;
    margin-bottom:30px;
}

.search_form .search_item{
    width:120px;
    height:28px;
    float:left;
    margin-right:40px;
    font-size:14px;
    color:#999;
}
.search_btn{
    float:right;
    padding:0 24px;
    height:28px;
    margin-right:10px;
}
.del{
    float:right;
    padding:0 24px;
    height:28px;
}
.common_over{
    width:100%;
    height:28px;
    font-size:14px;
    color:#666;
    margin-bottom:20px;
}
.common_left{
    height:28px;
    line-height:28px;
    float:left;
}

.operate{
    color:#666;
    float:left;
    height:28px;
    line-height:28px;
    padding:0 10px;
    font-size:14px;
}
.delete{
    float:left;
    height:28px;
    line-height:28px;
    color:#0000FF;
    font-size:14px;
}
.operation_right Button{
    height:28px;
    line-height:28px;
    float:right;
}
.operation_right .addMoreCon{
    margin-right:10px;
}
