:global{
    .yhwu_to_class_modal{
        height : 310px;
    }
    .yhwu_to_class_modal .ant-modal-content{
        height : 310px;
    }
    .yhwu_to_class_modal .ant-form{
        position : relative;
        height : 220px;
    }
    .yhwu_to_class_modal .ant-modal-body{
        margin: 20px;
        padding : 0;
        overflow: auto;
        height: 220px;
    }
    .yhwu_to_class_modal .ant-modal-footer{
        border : none;
        height : 50px;
        padding : 2px 20px 20px 20px;
    }
    .yhwu_to_class_modal .ant-table-bordered .ant-table-thead > tr:nth-child(1) > th{
        text-align: center;
    }

}
.to_class_btnGroup{
    position : absolute;
    bottom : 20px;
    right : 20px;
}
