@import './normal_menu.less';
@import './shrink_menu.less';

:global {

    /*菜单收缩按钮*/
    .left_menu_switch_tip {
        padding-left: 20px;
    }

    .left_menu_switch_tip .ant-tooltip-inner {
        background-color: #FFF;
        color: #999;
        text-align: center;
    }

    .common_layout_left_menu_lg {
        background-color: #384354;
    }

    .common_layout_left_menu_sm {
        background-color: #384354;
    }
}

.left_menu_cont {
    position: relative;
    height: 100%;
}

.menu_cut_off {
    height: 40px;
    background-color: #384354;
}

.left_menu_content {
    background-color: #384354;
}

.menu_name {
	margin-left: 10px;
}

.erp_iconfont{
  	font-family:"erp-iconfont" !important;
  	font-size:16px;
	font-style:normal;
  	-webkit-font-smoothing: antialiased;
  	-webkit-text-stroke-width: 0.2px;
  	-moz-osx-font-smoothing: grayscale;
}

.left_menu_switch_cont_border_1 {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #424C5C;
}

.left_menu_switch_cont_border_2 {
    width: 100%;
    border-bottom: 1px solid #2D3847;
}

.left_menu_switch_cont_border_3 {
    width: 100%;
    border-bottom: 1px solid #343E4D;
}

.left_menu_switch_cont {
    height: 50px;
    width: 100%;
    text-align: right;
}

.left_menu_switch_on_cont {
    height: 50px;
    width: 100%;
    text-align: right;
}
.left_menu_switch_on_cont:hover {
    background-color: #374050;
}

.left_menu_switch {
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    color: #9faabe;
    cursor: pointer;
    margin-right: 25px;
}

.left_menu_switch:hover {
    color: #FFF;
}

.common_info {
    color: #666;
    text-align: center;
    border-bottom: 10px solid #5D9BEC;
    background-color: #384354;
    padding: 20px 0;
    display: inline-flex;
    width: 100%;
}

.common_info_text {
    font-size: 12px;
    color: #9FAABE;
    line-height: 20px;
}

.common_info_vertical {
    border-bottom: 10px solid #5D9BEC;
    background-color: #384354;
    text-align: center;
    padding-top: 0px;
}

.warn_cont_vertical {
    font-size: 22px;
    color: #9faabe;
    cursor: pointer;
}

.warn_cont_vertical:hover {
    color: #5D9BEC;
}

.common_info_content {
    padding-top: 8px;
    text-align: left;
    padding-left: 10px;
}
.common_info_logo {
    color: #9FAABE;
    width: 33%;
    font-size: 50px;
    text-align: right;
}
