.header_version_info {
    width: 80px;
    height: 100%;
    padding: 10px;
}

.header_version_info_content {
    border-radius: 5px;
    height: 100%;
    background-color: #03ABF2;
    text-align: center;
}

.version_label {
    color: #82D1F9;
    padding-top: 7px;
}

.version_no {
    height: 50%;
    color: #82D1F9;
}
