:global{
	.wOffice_head_wrap{
		width : 100%;
		overflow-x : auto;
		margin-top : -5px;
	}
    .wOffice_head{
        height : 35px;
        background : #3B71B7;
		white-space : nowrap;
		text-align : center;
    }
    .wOffice_head_item{
        display: inline-block;
        width: 70px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #fff;
        font-size: 14px;
		background : #3B71B7;
    }
    .wOffice_head_item_first{
        color : #fdee03;
        position : relative;
    }
    .wOffice_head_item_first::after{
        content: '';
        position: absolute;
        width: 48px;
        height: 3px;
        background: #fdee03;
        left: 10px;
        bottom: 0;
    }

    .wOffice_content_item{
        background : #fff;
        margin : 10px 0 0 0;
        padding : 0 20px;
    }
    .content_item_add, .content_item_time{
        height : 35px;
        line-height : 35px;
    }
    .content_item_add{
        border-bottom : 1px solid #ddd;
    }
    .orgAdd_icon{
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        font-size : 24px;
        color : #e5466f;
    }
    .orgAdd_time{
        display: inline-block;
        margin-right: 6px;
        vertical-align: middle;
        font-size : 22px;
        color : #3f479b;
    }
    .orgAdd_phone{
        padding-left : 5px;
        margin-left : 10px;
        font-size : 24px;
        display : inline-block;
        vertical-align : middle;
        color : #3b72b7;
        border-left : 1px solid #ddd;
    }

    .wOffice_item{
        background : #fff;
        margin : 10px 0 0 0;
        padding : 10px 20px;
    }
    .wOffice_content_item_title{
        height : 25px;
    }
    .wOffice_content_item_title::before{
        content : '';
        display : inline-block;
        vertical-align : top;
        width : 10px;
        height : 18px;
        margin-right : 10px;
        background : #3B72B7;
        margin-left : -20px;
    }
    .wOffice_item_buss span{
        display : inline-block;
        padding : 2px 15px;
        background : #c4d4e9;
        color : #fff;
        margin-right : 10px;
        border-radius: 4px;
    }
    .wOffice_item_age span{
        color : #3b72b7;
        margin-right : 10px;
    }
	.wOffice_content_item_orgAlbum{
		width : 260px;
	}
	.item_orgAlbum{
		display : inline-block;
		height : 80px;
		width : 120px;
		margin-right : 10px;
	}
    .item_teach{
        display: inline-block;
        height : 140px;
        width : 80px;
        margin-right : 10px;
    }
    .teach_img{
        width : 80px;
        height : 80px;
    }
    .wOffice_base_item{
        display : inline-block;
        text-align : center;
        margin-right : 12px;
    }
    .base_background{
        border-radius : 50%;
        background : #c4d4e9;
        overflow : hidden;
        width : 36px;
        height : 36px;
        margin-bottom : 4px;
    }
    .base_orgAdd_icon{
        font-size : 26px;
        color : #fff;
        line-height : 36px;
    }
}
