:global{
	.wOffice_set_code_title{
		font-size : 16px;
		margin-bottom : 20px;
	}
	.wOffice_set_code_title span{
		content : '';
		display : inline-block;
		background : #5d9ce9;
		width : 5px;
		height : 16px;
		vertical-align : middle;
		margin-right : 10px;
	}
	.qr_code{
		padding: 10px;
		border: 1px solid #ddd;
		display: inline-block;
		vertical-align : top;
		border-radius: 8px;
		margin-bottom: 10px;
	}
	.code_url{
		width : 390px;
		display : inline-block;
		vertical-align : top;
		margin-left : 30px;
	}
	.code_url_tip{
		margin : 10px 0;
		font-size : 14px;
		color : #999;

	}
}
