.wOffice_page{
    padding : 0 30px 30px 30px;
}
.wOffice_page_title{
	height : 30px;
	line-height : 30px;
	margin-bottom : 20px;
	font-size : 16px;
}
.wOffice_page_title_left{
	display : inline-block;
	width : 396px;
	height : 30px;
	line-height: 30px;
}
.wOffice_page_title_right{
	display : inline-block;
	height : 30px;
	line-height : 30px;
}
.wOffice_page_title_left span, .wOffice_page_title_right span{
	content : '';
	display : inline-block;
	width : 5px;
	height : 16px;
	line-height : 30px;
	background : #5d9ce9;
	vertical-align : middle;
	margin-right : 10px;
}
:global{

}
