@import '../../lib.less';

.notice_target_cont {

}

.notice_target_select_stu {
    display: inline-block;
    cursor: pointer;
    margin-right: 40px;
    color: @shanshan-main-color;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
}

.notice_target_select_stu_info {
    display: inline-block;
}

.editor_toolbar_cont {
    width: 100%;
    border-color: rgb(0,47,126);
    background-color: #9EBEF5!important;
    border-radius: 5px!important;
}

.editor_wrapper_cont {
    width: 100%;
}

.editor_editor_cont {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid @shanshan-main-color;
    padding: 5px;
    border-radius: 5px;
    box-sizing: inherit!important;
}

.custom_block_type {
    width: 90px!important;
}
