@import '../../lib.less';

.table_cell_target_info {
    color: @shanshan-main-color;
    cursor: pointer;
}

/*家长通知的阅读情况 弹框*/
.parents_notice_read_info_cont {
    width: 100%;
}

.parents_notice_read_info_header {
    color: #666;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.parents_notice_read_info_content {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.parents_notice_read_info_item {
    border: 1px dashed #DDD;
    padding: 5px 20px;
    margin: 10px 5px;
}

.read_info_nickname {
    font-size: 14px;
    color: #666;
    display: inline-block;
}

.read_info_status_noread {
    font-size: 14px;
    color: red;
    display: inline-block;
    float: right;
}

.read_info_status_read {
    font-size: 14px;
    color: green;
    display: inline-block;
    float: right;
}

.parents_notice_read_info_foot {
    text-align: center;
    margin-top: 10px;
}

.table_cell_item_notice_title {
    color: @shanshan-main-color;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
