/*引入less定义的方法*/
@import '../../../common/less/common.less';
:global{
    .courseware_check_modal{ top : 40px; }
    .courseware_check_modal .ant-modal-content{
        background : transparent;
        box-shadow : 0 0 0;
    }
    .courseware_check_modal .ant-modal-body{
        padding : 0;
        margin : 0;
        display : -webkit-flex;
        display : flex;
        justify-content : center;
    }
    .courseware_check_modal .ant-slider{
        height : 0;
        margin : 0;
        margin-left : 10px;
        border-top : 1px solid #fff;
        border-bottom : 1px solid #fff;
    }
    .courseware_check_modal .ant-slider-track{
        height : 2px;
        background-color : #ccc;
    }
    .courseware_check_modal .ant-slider:hover .ant-slider-track{ background-color : #ccc;  }
    .courseware_check_modal .ant-slider:hover .ant-slider-handle{ border-color : #ccc; }
    .courseware_check_modal .ant-slider-handle:active{ box-shadow : 0 0 0;  }
    .courseware_check_modal .ant-slider-handle{
        margin-top : -7px;
        background-color : #ccc;
        border : 1px solid #ccc;
        &:hover{ background-color : #fff  }
    }
    .courseware_check_modal .ant-input-number{
        border-color : #ccc;
        &:hover{ border-color : #fff; }
    }
    .courseware_check_modal .ant-input-number-input{
        text-align : center;
        color : #fff;
        background : transparent;
    }
    .courseware_check_modal .ant-input-number-focused{
        box-shadow : 0 0 0;
    }
    .courseware_check_modal .ant-input-number-handler-wrap{
        display : none;
    }
    .modalOpts2 .ant-modal-close{
        color : #999;
    }
    .modalOpts2 video::-internal-media-controls-download-button {
        display:none;
    }
    .modalOpts2 video::-webkit-media-controls-enclosure {
        overflow:hidden;
    }
    .modalOpts2 video::-webkit-media-controls-panel {
        width: calc(100% + 30px);
    }

    .rh5v-PlayPause_icon{
        padding: 0 !important;
    }
    .rh5v-Volume_icon{
        padding: 0 !important;
    }
    .rh5v-Fullscreen_icon{
        padding: 0 !important;
    }
}
.img_and_operation{
    display : -webkit-flex;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
    .transition(all .3s);
}
.img{
    background-position : center;
    background-repeat : no-repeat;
    .transition(all .2s);
}
.operation{
    position : fixed;
    width : 400px;
    bottom : 40px;
    left : calc(~'(100% - 400px)/2');
    padding : 5px 20px;
    background : rgba(0,0,0,.4);
    .borderRadius(10px 20px,10px 20px,10px 20px,10px 20px);
    display : -webkit-inline-flex;
    display : inline-flex;
    justify-content : space-around;
    align-items : center;
}
.right_top_close{
    width : 50px;
    height : 50px;
    position : fixed;
    right : 10px;
    top : 20px;
    border-radius : 50%;
    cursor : pointer;
    display : flex;
    display : -webkit-flex;
    justify-content : center;
    align-items : center;
    .transition(all .3s);
    &:hover{
        background-color : rgba(0,0,0,.4);
        .right_top_close_icon{
            color : #fff;
            .transform(rotate(180deg));
        }
    }
}
.right_top_close_icon{
    color : #ccc;
    font-size : 24px !important;
    .transition(all .3s);
}
.operation_icon{
    color : #ccc;
    width : 20px;
    height : 20px;
    font-size : 20px !important;
    cursor : pointer;
    .transition(color .3s);
    &:hover{
        color : #fff;
    }
}
