@import '../less/common.less';

.status_button{
    height:22px;
    padding:6px 10px;
    color:#fff;
    line-height:10px;
    font-size:12px;
    float:left;
    overflow:hidden;
    clear:both;
    .borderRadius(5px,5px,5px,5px);
    .unCheckOrCopy();
}
