:global{
    .yhwu_follow_up_modal .ant-modal-body{
        overflow: auto;
        padding: 20px 20px 0 20px;
    }
    .yhwu_follow_up_modal .ant-modal-footer{
        margin: 0;
        padding : 0 20px 20px 20px;
    }
}
