/*引入less定义的方法*/
@import '../../common/less/common.less';

.all{
    height : 100%;
    width : 100%;
}

/*Table*/
.tableBtn{
    position:relative;
    height:30px;
    line-height: 30px;
    margin:0 1px 10px 2px;
    font-size: 14px;
}
