
:global{
    .zj_add_or_edit_sector_modal .ant-modal-body{
        padding : 20px;
    }
    .zj_add_or_edit_sector_modal .ant-modal-footer{
        margin : 0;
        padding : 0 20px 20px 20px;
    }
    .zj_add_or_edit_sector_modal .ant-form-item{
        margin-bottom : 10px;
        &:last-child{
            margin-bottom : 0;
        }
    }
}
