/*引入less定义的方法*/
@import '../../common/less/common.less';

:global{
    .zj_staff_change_status_fail_modal .ant-modal-body{
        padding : 20px;
    }
    .zj_staff_change_status_fail_modal .ant-modal-footer{
        margin : 0;
        padding : 0 20px 20px 20px;
    }
    .zj_staff_change_status_fail_modal .ant-table-pagination{
        margin : 20px 0 0 0;
    }
    .zj_staff_change_status_fail_modal .ant-table-small .ant-table-title, .ant-table-small .ant-table-footer, .ant-table-small .ant-table-thead > tr > th:not(.ant-table-selection-column){
        text-align : center;
    }
}
.title{
    margin-bottom : 16px;
    font-size : 14px;
}
.reason{
    margin-bottom : 16px;
    font-size : 14px;
    overflow : hidden;
}
