@baseName 	: saas_forgotPassword;
@import '../CommonLess.less';

:global {
	.@{baseName} {
		.ant-input {
			border: 0px;
		}
		.has-error .ant-input, .has-error .ant-input:hover {
			background: #FEEAEA;
			border-color: transparent;
		}
		.ant-input {
			background-color: #f1f1f1;
		}

		.ant-input-group-addon:first-child {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}

		.ant-select-lg .ant-select-selection--single {
			background-color: #f1f1f1;
			border: 0px;
		}

		.has-error .ant-input, .has-error .ant-input:hover {
			background: #FEEAEA;
			border-color: transparent;
		}

		.ant-select-open .ant-select-selection {
			border: 1px @defaultColor solid;
		}

		.ant-select-lg .ant-select-selection--single:hover {
			border: 1px @defaultColor solid;
		}

		.ant-select-selection:hover {
			border: 1px @defaultColor solid;
		}

		.ant-select-selection:focus {
			border: 1px @defaultColor solid;
		}

		.ant-select-lg .ant-select-selection--single {
			background-color: #f1f1f1;
			border: 0px;
		}

		.ant-input:hover {
			border: 1px @defaultColor solid;
		}

		.ant-input:focus {
			border: 1px @defaultColor solid;
		}


	}
}

.saas_forgotPassword_box {
	overflow: hidden;
	height : 416px;
	width : 480px;
	background: white;
	border-radius: 10px;
	opacity: 0;
	box-shadow: 7px 7px 20px 2px rgba(0,0,0,.0);
	.common_ani(login_box_ani 300ms linear 300ms forwards);
}

.common_box {
	height : 100%;
	width : 100%;
	overflow: hidden;
}

.resetPaassword {
	color : #666;
	font-size: 24px;
	margin: auto;
    margin-top: 55px;
	margin-bottom: 35px;
    text-align: center;
}

.common_input(@top) {
	width : 70%;
	margin: auto;
	margin-top: @top;
	clear: right;
}

.input_phone_box {
	.common_input(35px);
}

.input_code_box {
    width: 50%;
    margin-top: 0px;
    margin-left: 15%;
    float: left;
}

.input_merchants_box {
	.common_input(0px);
}

.input_new_pwd_box {
	.common_input(0px);
}

.commom_button(@top) {
	height : 40px;
	line-height: 40px;
	font-size: 14px;
	color: white;
	border-radius: 5px;
	text-align: center;
	width : 70%;
	margin-top: @top;
	float: left;
    margin-left: 15%;
	background-color: @defaultColor;
}
.next {
	.commom_button(25px);
}

.save {
	.commom_button(0px);
}

.next:hover,.save:hover {
	cursor: pointer;
	background-color: @hoverColor;
}

.next:active,.save:active {
	cursor: pointer;
	background-color: @activeColor;
}

.login_registered {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    height: 40px;
    float: left;
    margin-left: 15%;
	position: absolute;
    bottom: 20px;
}

.login {
	color : #999;
	font-size: 14px;
	float : left;
}

.registration {
	color : #999;
	font-size: 14px;
	float : right;
}

.login:hover,.registration:hover {
	cursor: pointer;
	color : @hoverColor;
}

.login:active,.registration:active {
	cursor: pointer;
	color : @activeColor;
}

.previous_bg_color {
	height : 24px;
	width : 24px;
	background-color: #f1f1f1;
	border-radius: 50%;
	position: absolute;
	top : 60px;
	left: 70px;
}

.previous_bg_color:hover {
	cursor: pointer;
	background-color: #5d9cec;
}

.previous {
	height : 15px;
	width : 22px;
	background-image: url(https://img.ishanshan.com/gimg/img/105dd7ba488b047132799c57d296d644);
	border-radius: 50%;
	position: absolute;
//	top : 60px;
//	left: 70px;
	margin-top: 5px;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

//固定页面
.page1 {
	.common_box();
}

//移动到第二页
.page1_move {
	float: left;
	.common_box();
	.common_ani(page1_move_ani 300ms linear 0ms forwards);
}@keyframes page1_move_ani {
	0%{transform: translateX(0%);}
	100%{transform: translateX(-100%);}
}

//第二页进入
.page2_move {
	.common_box();
	float: left;
	transform: translateX(100%) translateY(-100%);
	.common_ani(page2_move_ani 300ms linear 0ms forwards);

}@keyframes page2_move_ani {
	0%{transform: translateX(100%) translateY(-100%);}
	100%{transform: translateX(0%) translateY(-100%)}
}

.page1_previous {
	.common_box();
	.common_ani(page1_previous_ani 300ms linear 0ms forwards);
}@keyframes page1_previous_ani {
	0%{transform: translateX(-100%);}
	100%{transform: translateX(0%);}
}

.page2_previous {
	.common_box();
	.common_ani(page2_previous_ani 300ms linear 0ms forwards);
}@keyframes page2_previous_ani {
	0%{transform: translateX(0%) translateY(-100%);}
	100%{transform: translateX(100%) translateY(-100%)}
}
