:global{
    .yhwu_wx_activity_success_model{
        height : 700px;
    }
    .yhwu_wx_activity_success_model .ant-modal-content{
        height : 700px;
    }
    .yhwu_wx_activity_success_model .ant-modal-body{
        margin: 30px 20px 10px 30px;
        padding: 0;
        height: 600px;
        overflow-y : auto;
    }
    .yhwu_wx_activity_success_model .ant-modal-footer{
        border : none;
        height : 50px;
        padding : 0 20px 20px 20px;
    }
	.ant-popover-placement-top{
		z-index : 9999;
	}
}
