@baseName : marketActivity;
:global {
    .@{baseName} {
        .ant-table-bordered .ant-table-thead>tr>th {
            text-align: center;
        }
        .ant-table-bordered .ant-table-tbody>tr>td {
            text-align: center;
        }
        .ant-form-item {
            margin-bottom: 0px;
        }
    }
    .marketModal .ant-calendar-picker {
        width: 100%;
    }
    .ant-form-item {
        //		margin-bottom: 0px;
    }
    .marketModal .ant-form-item {
        margin-bottom: 20px;
    }
    .marketModal .ant-modal-body {
        height: 80vh;
        overflow-y: auto;
    }
    .marketModal .ant-input-number {
        width: 95%;
    }
    /*全局属性*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

.modalButtonDivStyle {
    width: 100%;
    text-align: center;
}

.modalButtonStyle {
    margin: 5px;
}

.noActivitySalesStaff {
    margin: 0px;
    height: 32px;
    line-height: 32px;
}

.orgSelect {
    margin-left: 20px;
    margin-top: 20px;
}

.inputValueUnit {
    float: right;
    height: 28px;
    line-height: 28px;
    margin-top: -50px;
    margin-right: 60px
}

.topic_prev_item {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 150px;
}

.topic_prev_text {
    display: inline-block;
}

.topic_prev_img {
    display: inline-block;
    width: 80px;
    max-width: 80px;
    position: absolute;
    left: -23px;
    height: 130px;
    top: 30px;
}

.topic_img_prev_cont {
    text-align: center;
}

.topic_modal_prev_img {
    height: 70vh;
}