@baseName : marketActivityAnalysis;
:global {
    .@{baseName} {
        .ant-table-bordered .ant-table-thead>tr>th {
            text-align: center;
        }
        .ant-table-bordered .ant-table-tbody>tr>td {
            text-align: center;
        }
    }
    .marketActivityAnalysisModal .ant-modal-body {
        text-align: center;
	    height: 80vh;
        overflow-y: auto;
    }
    .marketActivityAnalysisModal .ant-form {
        height: 40px;
    }
    .marketActivityAnalysisModal .ant-modal-footer {
        margin: 0px;
    }
    .marketActivityAnalysisModal .ant-radio-button-wrapper-checked {
        color: white;
        background-color: #5d9cec;
    }
    .marketActivityAnalysisModal .ant-select-lg .ant-select-selection--single {
        height: 29px;
    }
    .marketActivityAnalysisModal .ant-input-lg {
        height: 29px;
    }
    .marketActivityAnalysisModal .ant-form-item-control {
		text-align: left;
	}
}

.modalButtonDivStyle {
    width: 100%;
    text-align: center;
}

.modalButtonStyle {
    margin: 5px;
}

.noActivitySalesStaff {
    margin: 0px;
    height: 32px;
    line-height: 32px;
}

.topLeftlabel {
    text-align: left;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.topDataComponentBox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.topDataComponent {
    width: 150px;
    height: 100px;
    float: left;
}

.topDataComponentTitle {
    font-size: 15px;
}

.topDataComponentDataNumber {
    color: red;
    font-size: 14px;
    padding: 5px;
}

.topDataComponentBottomText {
    font-size: 13px;
}

.topDataComponentBottomText {
    font-size: 13px;
}

.line {
    width: 95%;
    border-bottom: 1px #ddd solid;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttomRadioLocation {
    text-align: left;
    margin-left: 15px;
}

.radioDay {
    float: right;
    margin-right: 5px;
}

.dataTitleCountBox {
    display: flex;
    justify-content: center;
    align-content: center;
    >span {
        margin-top: 13px;
        margin-left: 5px;
    }
}

.dataTitleCount {
    height: 50px;
    text-align: center;
    color: #629ef1;
    font-size: 25px;
    font-weight: 900;
}

.exportBtn {
    text-align: right; // margin-bottom: 15px;
    height: 55px;
    padding: 10px;
}

.searchBox {
    // float: left;
    // margin-left: 40px;
    margin-right: 0px;
    float: right;
}

.tableBox {
    margin: auto;
    margin-bottom: 20px;
    width: 98%;
    margin-top: 20px;
}

.submode3dataTitleCountBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personNumber {
    .dataTitleCount();
}

.personNumberText {
    margin-left: 5px;
    margin-top: -5px;
}

.personName {
    text-align: center;
    position: absolute;
    margin-top: 15px;
}

.submodeBox {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}