:global{
    /*表单内容公共样式*/
    .zj_free_trail_modal .ant-modal-body {
        padding: 10px 20px 10px 20px !important;
    }
    .zj_free_trail_modal .ant-modal-footer{
        padding:10px 20px 20px 10px !important;
    }
    .zj_free_trail_modal .ant-form-item{
        margin: 20px 0 0 0 !important;
    }

    .zj_free_trail_form{
        max-height: 609px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
