:global{
    /*表单内容公共样式*/
    .zj_password_recovery_second_step_modal .ant-modal-body {
        padding: 10px 20px 10px 20px !important;
    }
    .zj_password_recovery_second_step_modal .ant-modal-footer{
        padding:10px 20px 20px 10px !important;
    }
    .zj_password_recovery_second_step_modal .ant-form-item{
        margin-top: 20px !important;
        margin-bottom: 0 !important;
    }

    .zj_password_recovery_second_step_form{
        max-height: 609px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
