.goods_info_preview_cont {
    width: 100%;
    height: 550px;
    background: url(https://img.ishanshan.com/gimg/img/4693c8465348642727cf85efc7ed1f07) no-repeat;
    background-size: contain;
    padding: 75px 40px 75px 25px;
}

.goods_info_preview_content {
    max-height: 400px;
    overflow-y: auto;
}

.pre_goods_cont1 {
    background-color: #FFF;
}

.org_name {
    font-size: 12px;
    color: #000;
    padding-right: 5px;
    border-right: 1px solid #EEE;
}

.goods_subject {
    font-size: 10px;
    color: #000;
    padding-left: 10px;
}

.pre_goods_priceandcount {
    border-bottom: 1px solid #E1E1E1;
}

.pre_goods-price .xianjia_price {
    font-size: 20px;
    color: #FB6165;
}

.pre_goods_price .xianjia_price_unit {
	color: #FB6165;
}

.pre_goods_price .yuanjia_price {
	margin-left: 5px;
	text-decoration: line-through;
}

.pre_goods_price .yuanjia_price_unit {
	text-decoration: line-through;
}

.pre_goods_count .all_count {
	color: #FB6165;
	margin-right: 3px;
	margin-left: 3px;
}

.pre_goods_priceandcount {
    border-bottom: 1px solid #E1E1E1;
}

.pre_goods_other {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 21px;
}

.pre_goods_other_item {
	color: #44BA9B;
	overflow: hidden;
}

.pre_goods_other_item img {
	float: left;
	margin-left: 3px;
	margin-top: 3px;
	width: 13px;
}

.pre_goods_other_item .pre_goods_other_item_text {
	float: left;
	margin-left: 3px;
}

.koubei_goods_preview_content .pre_goods_orgs {
	margin-top: 3px;
	background-color: #FFF;
}

.pre_goods_orgs .border_item {
	border-bottom: 1px solid #E1E1E1;
}

.pre_goods_orgs .pre_goods_orgs_item {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #000;
}

.pre_goods_orgs .org_detail_item {
	height: 53px;
}

.pre_goods_orgs .org_detail {
	width: 75%;
	float: left;
}

.org_detail .org_detail_stars {
	float: left;
}

.org_detail .org_detail_range {
	float: right;
	color: #888888;
}

.pre_goods_orgs .org_detail .org_detail_stars img{
    width: 18px;
    margin-right: 1px;
}

.pre_goods_orgs .org_detail .org_detail_stars .org_detail_stars_text {
	color: #A0A691;
}

.pre_goods_orgs .call {
    width: 20%;
    float: right;
    text-align: center;
    border-left: 1px solid #e1e1e1;
}

.pre_goods_orgs .call img {
    width: 30px;
}

.ore_goods_addr_cont img{
    width: 18px;
    float: left;
}

.ore_goods_addr_cont .org_addr{
    margin-left: 5px;
}

.ore_goods_addr_cont .right_arrow {
	float: right;
    margin-right: 10px;
    color: #e1e1e1;
}

.pre_goods_desc {
	margin-top: 5px;
	background-color: #FFF;
}

.pre_goods_desc .cont_title {
	color: #000;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.pre_goods_desc .cont_sub_title {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #888;
}

.pre_goods_desc .cont_content {
    color: #000;
}

.pre_goods_desc .cont_content li{
    list-style-image: url(https://img.ishanshan.com/gimg/img/395c9cd7e52a3c05e93817b15366323f);
}
