:global {
    /*口碑商品表单内容*/
    .koubei_goods_form_cont {
        width: 100%;
        display: inline-flex;
    }

    .koubei_goods_form_cont .ant-upload-list-picture-card .ant-upload-list-item {
        width: 75px;
        height: 75px;
    }

    .koubei_goods_form_cont .ant-upload.ant-upload-select-picture-card {
        width: 75px;
        height: 75px;
    }

    .koubei_goods_form_cont .ant-upload.ant-upload-select-picture-card > .ant-upload {
        padding: 14px 8px;
    }
    .koubei_goods_form_free_type .ant-form-item{
        margin-bottom: 10px !important;
    }
    .koubei_goods_supple_form_free_type .ant-form-item{
        margin-bottom: 10px !important;
    }
}

/*一些其他样式*/

/*顶部红色星号*/
.must_mark:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    font-size: 12px;
    color: #F04134;
}

.img_upload_text {
    color: #999;
    font-size: 12px;
}

/*选择门店区域*/
.select_org_cont {
    height: 32px;
    line-height: 32px;
}

.select_org_text {
    color: #5D9CEC;
    margin-right: 20px;
}

/*表单块的主题*/
.form_item_title {
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    font-weight: 700;
    color: #666;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.form_item_title:before {
    content: ' ';
    width: 8px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #4E9FF8;
}

.goods_info_cont {
    width: 600px;
    max-height: 550px;
    overflow-y: auto;
    margin-right: 20px;
}
.goods_intro_item_add{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: #999;
    right:0%;
    bottom:3px;
}
.goods_intro_item_add:hover{
    color: #5D9CEC;
}
.goods_intro_item_remove {
	font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: calc(~'50% - 10px');
    right:0%;
    color: #999;
}
.goods_intro_item_remove_two{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right:0%;
    color: #999;
}
.goods_intro_item_remove:hover {
    color: #5D9CEC;
}
.goods_intro_item_remove_two:hover {
    color: #5D9CEC;
}

.goods_intro_add_btn {
    width: 90%;
}

.on_line_time_cont {
    width: 100%;
    display: inline-flex;
}

.on_line_time_type_cont {
    width: 55%;
}

.on_line_time_value_cont {
    width: 45%;
}

/*口碑商品表单-预览区域*/
.goods_preview_cont {
    width: 285px;
    height: 550px;
}
