.share_text {
    height: 28px;
    line-height: 28px;
    color: #999;
}

.share_qrcode_cont {
    text-align: center;
    margin-top: 20px;
}

.share_qrcode_cont canvas {
    border-radius: 10px;
}
