.eyebeam_cont {
    position: fixed;
    top: 80px;
    right: 44%;
}

.eyebeam_state_cont {
    display: inline-block;
}

.eyebeam_number_cont {
    display: inline-block;
}

.eyebeam_phone_cont {
    display: inline-block;
    margin-left: 10px;
}

.eyebeam_phone {
    font-size: 22px;
    color: #87d068;
    cursor: pointer;
}

.line_time_cont {
    margin-left: 10px;
    color: #87d068;
    display: inline-block;
}

.record_item {
    font-size: 18px;
    color: #666;
    height: 25px;
    line-height: 25px;
}
