.use_space{
	position : absolute;
	top : 1px;
	right : 290px;
    padding: 5px 8px 5px 16px;
    border-radius: 6px;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #d5f1fd;
    background-color: #eaf8fe;
}
