:global {
	.home_base {
		border-radius: 10px;
		overflow : hidden;
		padding : 30px;
		background: rgb(233,232,237);
	}

	.home_content_left {
		width: 40%;
		float: left;
		margin-top: 20px;
		height: 310px;
	}

	.home_content_right {
		width: 60%;
		float: left;
		margin-top: 20px;
		height: 310px;
		padding-left: 20px;
	}

	.home_content_bottom {
		float: left;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.home_base .banner-anim {
		height : 150px;
//		overflow: hidden;
//    	border-radius: 10px;
	}

	.home_banner {
		height : 150px;
		overflow: hidden;
    	border-radius: 10px;
	}

	.home_base .banner-anim .banner-anim-thumb {
		text-align: right;
		padding-right : 10px;
	}

	.home_base .gutter-example {
		margin-top: 10px;
		border-radius: 10px;
		overflow: hidden;
	}

	.home_base .gutter-example .ant-row > div {
		background: transparent;
		border: 0;
		border-radius: 10px;
    	overflow: hidden;
		padding : 0px 10px 10px 0px!important;
	}	
	
	.home_base .gutter-example .ant-row  {
		margin-left: 0px!important;
		margin-right: 0px!important;
	}	

	.home_content_right .gutter-example .ant-row .gutter-row {
		padding : 0px 0px 10px 0px!important;
	}

	.home_content_bottom .gutter-example .ant-row {
		margin-right : -10px!important;
		margin-left : 0px!important;
	}
}

//左侧布局按钮
.gutter_box_left {
	background: white;
	border-radius: 10px;
	height : 140px;
	position: relative;
}

.gutter_box_left:hover {
	background: #f6f6f6;
	border-radius: 10px;
	cursor:pointer;
}

//右侧布局按钮
.gutter_box_right {
	background: white;
	height : 290px;
	position: relative;
	width: 33.3%;
	float: left;
}

.gutter_box_right:hover {
	background: #f6f6f6;
	cursor:pointer;
}

//底部布局按钮
.gutter_box_bottom {
	background: white;
	border-radius: 10px;
	height : 150px;
	position: relative;
}

//右侧竖线
.right_line {
	background : #eeeeee;
	width: 1px;
    height: 180px;
    position: absolute;
    left: 66.45%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.left_line {
	background : #eeeeee;
	width: 1px;
    height: 180px;
    position: absolute;
    left: 33.15%;
    top: 0;
    bottom: 0;
    margin: auto;
}

//预约图片和文字
.appointment_img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70px;
	text-align: center;
}

.appointment_p {
	font-size: 16px;
	color : #999999;
    position: absolute;
    bottom: 70px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

//首页课程表容器
.home_class_schedule_cont {
    float: left;
    width: 100%;
}