:global{
    .yhwu_operation{
        margin-bottom : 20px;
    }
    .yhwu_operation_left{
        display : inline-block;
        width : 60%;
        font-size : 14px;
        color : #666;

    }
    .yhwu_operation_right{
        display : inline-block;
        width : 40%;
        text-align: right;
    }

    .yhwu_table_bg{
        position : relative;
    }

    //样式覆盖
    .yhwu_table_bg .ant-table-tbody>tr>td{
        padding : 16px 10px;
        height : 50px;
    }
    .yhwu_table_bg .ant-table-pagination{
        margin : 20px 0 0;
    }
    .yhwu_operation_right .ant-btn-primary{
        background-color : #5d9bec;
        border-color : #5d9bec;
    }
    .yhwu_operation_right .ant-btn{
        padding : 4px 24px;
        border-radius : 5px;
    }
}
